Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 0bacb757cb8aaef5ac6603fe129a42ad78d99956
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

fix: update CI dependencies
  .github/workflows/ci.yml
  requirements.lock
Due: none

build: allow unsafe deps in offline scripts
  scripts/offline_prepare.sh
  scripts/verify_alpha_requirements_lock.py
Due: py-compile

test: verify CSP hashes
  tests/security/test_csp.py
Due: py-compile

build: update python base images
  AGENTS.md
  Dockerfile
  docker/quickstart/Dockerfile
  sandbox.Dockerfile
Due: none

docs: clarify CI job execution
  CONTRIBUTING.md
  README.md
Due: none

docs: update workflow instructions
  .nvmrc
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/CI_WORKFLOW.md
  docs/DEPLOYMENT_QUICKSTART.md
  docs/HOSTING_INSTRUCTIONS.md
  docs/WINDOWS_SETUP.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/era_of_experience.md
  docs/demos/solving_agi_governance.md
  docs/quickstart.md
  scripts/setup_wizard.py
Due: py-compile

chore: regenerate lock files
  requirements-demo.lock
  requirements-dev.lock
  requirements-docs.lock
  requirements.lock
Due: none

chore: pin backend lock in CI
  .github/workflows/ci.yml
  Dockerfile
  infrastructure/Dockerfile
Due: none

fix: compute CSP hashes after env injection
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
Due: py-compile, eslint-insight-browser

fix: avoid duplicate d3 in Insight bundle
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  docs/alpha_agi_insight_v1/index.html
Due: eslint-insight-browser

chore: update images and GitHub action pins
  .github/workflows/bench.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-kind.yml
  .github/workflows/docs.yml
  .github/workflows/loadtest.yml
  .github/workflows/nightly-transfer.yml
  .github/workflows/security.yml
  .github/workflows/size-check.yml
  .github/workflows/smoke.yml
  infrastructure/Dockerfile
Due: none

fix: pin setuptools in insight requirements
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.lock
Due: none

fix: pin setuptools for backend
  alpha_factory_v1/backend/requirements-lock.txt
  alpha_factory_v1/backend/requirements.txt
Due: none

docs: align Node.js requirement with nvmrc
  AGENTS.md
  README.md
  internal_docs/AT_THE_EDGE_OF_HUMAN_KNOWLEDGE_DEMO_TASKS_SPRINT.md
  internal_docs/GITHUB_PAGES_DEMO_TASKS.md
  internal_docs/INSIGHT_ACCESS_SPRINT.md
  internal_docs/INSIGHT_SPRINT_PLAN.md
Due: none

docs: clarify supported Python versions
  AGENTS.md
Due: none

docs: clarify offline pip-compile
  AGENTS.md
  tests/test_metrics.py
Due: py-compile

test: skip stub tests when openai-agents present
  tests/test_adk_gateway_startup.py
  tests/test_agents_fallback.py
Due: py-compile

docs: drop Python 3.12
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/size-check.yml
  .github/workflows/smoke.yml
  AGENTS.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.lock
  alpha_factory_v1/demos/era_of_experience/requirements.lock
  alpha_factory_v1/requirements.lock
  docs/CHANGELOG.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/solving_agi_governance.md
  docs/quickstart.md
  infrastructure/Dockerfile
  requirements-cpu.lock
  requirements-demo-cpu.lock
  requirements-demo.lock
  requirements-dev.lock
  requirements-docs.lock
  requirements.lock
  scripts/setup_env.sh
Due: none

docs: pin pre-commit 4.2.0
  CONTRIBUTING.md
  README.md
  docs/quickstart.md
  internal_docs/INSIGHT_SPRINT_PLAN.md
  tests/README.md
Due: none

docs: enforce Node.js 22
  alpha_factory_v1/core/interface/web_client/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/version_check.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.ps1
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/setup.ps1
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/setup.sh
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_node_version.py
  internal_docs/ADVANCED_GITHUB_PAGES_DEMO_SPRINT.md
  internal_docs/AT_THE_EDGE_OF_KNOWLEDGE_DEMO_TASKS_SPRINT.md
  internal_docs/CODEX_ADVANCED_DEMO_PAGES_SPRINT.md
  internal_docs/CODEX_DEMO_PAGES_SPRINT.md
  internal_docs/CODEX_INSIGHT_PAGES_SPRINT.md
  internal_docs/CODEX_SUPER_DEMO_PAGES_SPRINT.md
  internal_docs/DEMO_ACCESS_SPRINT.md
  internal_docs/EDGE_DEMO_PAGES_SPRINT.md
  internal_docs/EDGE_OF_HUMAN_KNOWLEDGE_PAGES_SPRINT.md
  internal_docs/EDGE_OF_KNOWLEDGE_DEMO_SPRINT.md
  internal_docs/USER_FRIENDLY_DEMO_PAGES_SPRINT.md
  scripts/build_insight_docs.sh
  scripts/publish_insight_pages.sh
Due: py-compile, eslint-insight-browser

docs: update Node.js requirement to 22
  alpha_factory_v1/demos/alpha_agi_insight_v1/README.md
  docs/demos/alpha_agi_insight_v1.md
Due: none

feat: add node check to preflight
  alpha_factory_v1/scripts/preflight.py
Due: py-compile

chore: update workflow actions
  .github/workflows/ci.yml
Due: none

fix: update Python range in preflight check
  alpha_factory_v1/scripts/preflight.py
Due: py-compile

chore: update backend requirements lock
  alpha_factory_v1/backend/requirements-lock.txt
  alpha_factory_v1/backend/requirements.txt
Due: none

chore: regenerate dev lock file
  requirements-dev.lock
Due: none

docs: clarify Python version range
  AGENTS.md
  README.md
  alpha_factory_v1/scripts/preflight.py
Due: py-compile

ci: add Python 3.12 to workflow matrix
  .github/workflows/ci.yml
Due: none

docs: add backend lock file instructions
  CONTRIBUTING.md
Due: none

[alpha_factory] add preflight optional missing test
  tests/test_preflight_optional_missing.py
Due: py-compile

fix: extend python compatibility
  AGENTS.md
  README.md
  alpha_factory_v1/scripts/preflight.py
  docs/CHANGELOG.md
  docs/CI_WORKFLOW.md
  docs/HOSTING_INSTRUCTIONS.md
  docs/WINDOWS_SETUP.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/era_of_experience.md
  docs/demos/solving_agi_governance.md
  docs/quickstart.md
  requirements-dev.txt
  scripts/setup_wizard.py
Due: py-compile

fix: update preflight description
  alpha_factory_v1/scripts/preflight.py
Due: py-compile

docs: mention py312 image
  README.md
Due: none

chore: update Node version
  .nvmrc
Due: none

fix: use python 3.13 base for sandbox
  alpha_factory_v1/scripts/preflight.py
Due: py-compile

fix: update compatibility and lock
  README.md
  alpha_factory_v1/scripts/preflight.py
  requirements.lock
Due: py-compile

fix: extend python compatibility
  alpha_factory_v1/demos/solving_agi_governance/README.md
  alpha_factory_v1/scripts/preflight.py
  pyproject.toml
  requirements-dev.txt
Due: py-compile

fix: update dependencies and lock files
  alpha_factory_v1/backend/requirements.txt
  alpha_factory_v1/requirements-core.txt
  alpha_factory_v1/requirements.lock
  requirements-demo-cpu.lock
  requirements-demo.lock
  requirements-demo.txt
  requirements-dev.lock
  requirements.lock
Due: none

[alpha_factory] update python matrix
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/smoke.yml
  scripts/setup_env.sh
Due: none

fix: update preflight python range
  alpha_factory_v1/scripts/preflight.py
Due: py-compile
