Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 0bacb757cb8aaef5ac6603fe129a42ad78d99956
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

docs: fix mkdocs disclaimer links and nav
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  mkdocs.yml
Due: none

docs: keep disclaimer links relative
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
Due: none

docs: add demo README details
  alpha_factory_v1/demos/presentation/README.md
  alpha_factory_v1/demos/presentation/__init__.py
  alpha_factory_v1/demos/utils/README.md
Due: py-compile

fix: harden tests for optional assets and env
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/demos/macro_sentinel/agent_macro_entrypoint.py
  alpha_factory_v1/demos/meta_agentic_tree_search_v0/mats/meta_rewrite.py
  mkdocs.yml
  scripts/check_ci_status.py
  tests/test_api_status.py
  tests/test_archive_policy.py
  tests/test_assets_replaced.py
  tests/test_check_insight_sri.py
  tests/test_governance_bridge_adk_runtime.py
  tests/test_governance_bridge_cli.py
  tests/test_governance_bridge_runtime.py
  tests/test_governance_sim_cli.py
  tests/test_integrity.py
Due: py-compile

fix: stub orchestrator dev agents in tests
  tests/test_backend_orchestrator_dev.py
Due: py-compile

fix: isolate dev orchestrator test
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/demos/macro_sentinel/agent_macro_entrypoint.py
  alpha_factory_v1/demos/meta_agentic_tree_search_v0/mats/meta_rewrite.py
  mkdocs.yml
  scripts/check_ci_status.py
  tests/test_api_status.py
  tests/test_archive_policy.py
  tests/test_assets_replaced.py
  tests/test_backend_orchestrator_dev.py
  tests/test_check_insight_sri.py
  tests/test_governance_bridge_adk_runtime.py
  tests/test_governance_bridge_cli.py
  tests/test_governance_bridge_runtime.py
  tests/test_governance_sim_cli.py
  tests/test_integrity.py
Due: py-compile

fix: satisfy demo validation requirements
  .github/workflows/ci.yml
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/demos/presentation/README.md
  alpha_factory_v1/demos/presentation/__init__.py
Due: py-compile

fix: resolve policy path and add critics JS
  alpha_factory_v1/core/utils/opa_policy.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/wasm/critics.js
Due: py-compile, eslint-insight-browser

fix: stabilize demo tests and tooling
  alpha_factory_v1/core/simulation/mats.py
  alpha_factory_v1/core/utils/opa_policy.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/keyval.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/wasm/critics.js
  alpha_factory_v1/demos/cross_industry_alpha_factory/cross_alpha_discovery_stub.py
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/openai_agents_bridge.py
  alpha_factory_v1/demos/self_healing_repo/agent_core/diff_utils.py
  alpha_factory_v1/demos/self_healing_repo/sample_broken_calc/calc.py
  scripts/download_openai_gpt2.py
  tests/test_api_server_uvicorn.py
  tests/test_demo_cli.py
Due: py-compile, eslint-insight-browser

fix: restore insight v1 docs assets
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: restore insight docs preview and CSP
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: add CSP and disclaimer to insight template
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: align insight v1 service worker assets
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/lib/workbox-sw.js
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

docs: add insight v1 API and TLS pages
  .codex/ci_failures_4257.txt
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
Due: none

fix: harden insight SRI and eslint install
  scripts/check_insight_sri.py
  scripts/run_eslint.sh
  tests/test_check_insight_sri.py
Due: py-compile

fix: stabilize insight build and docker CI
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  scripts/run_eslint.sh
Due: none

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/lib/workbox-sw.js
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: harden insight sri and ci cleanup
  .dockerignore
  .github/workflows/ci.yml
  scripts/check_insight_sri.py
  scripts/run_eslint.sh
Due: py-compile

fix: enforce insight index sri
  scripts/check_insight_sri.py
Due: py-compile

fix: remove unused sri state
  scripts/check_insight_sri.py
Due: py-compile

fix: harden node and docker ci setup
  .dockerignore
  .github/workflows/ci.yml
  Makefile
  scripts/refresh_insight_sri.sh
Due: none

fix: add insight lint job and shrink docker context
  .dockerignore
  .github/workflows/ci.yml
  scripts/check_insight_sri.py
  scripts/refresh_insight_docs.sh
  scripts/run_eslint.sh
Due: py-compile

fix: make lint npm installs deterministic
  .github/workflows/ci.yml
Due: none

fix: repair insight docs csp and mypy
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/evolution_worker.py
  docs/alpha_agi_insight_v1/index.html
Due: py-compile

fix: resolve insight docs and typing
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/evolution_worker.py
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  openai_agents/__init__.py
Due: py-compile

fix: type fastapi route helpers
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/evolution_worker.py
Due: py-compile

docs: add wasm llm doc to mkdocs nav
  docs/alpha_agi_insight_v1/assets/wasm_llm/README.md
  mkdocs.yml
Due: none

docs: wire demo html pages into mkdocs nav
  docs/alpha_agi_insight_v1/index.html
  mkdocs.yml
Due: none

docs: add missing insight preview asset
  docs/alpha_agi_insight_v1/assets/preview.svg
Due: none

docs: add SPDX header to insight preview
  docs/alpha_agi_insight_v1/assets/preview.svg
Due: none

ci: isolate eslint job and refresh insight SRI
  .github/workflows/ci.yml
  scripts/build_insight_docs.sh
  scripts/update_insight_sri.py
Due: py-compile

fix: stabilize insight docs and governance tests
  .github/workflows/ci.yml
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/discovery.py
  alpha_factory_v1/backend/orchestrator.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/self_healing_repo/agent_core/diff_utils.py
  alpha_factory_v1/demos/solving_agi_governance/openai_agents_bridge.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  mkdocs.yml
  scripts/build_insight_docs.sh
  scripts/ensure_insight_csp.py
  scripts/ensure_insight_sri.py
  scripts/fetch_assets.py
  tests/test_build_quickstart_pdf.py
  tests/test_distribution_zip.py
  tests/test_era_experience.py
  tests/test_experience_launcher.py
  tests/test_experiments.py
  tests/test_governance.py
  tests/test_governance_bridge_adk_runtime.py
  tests/test_governance_bridge_offline.py
  tests/test_governance_sim.py
  tests/test_gpu_detection.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/assets/wasm_llm/README.md
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: stabilize insight CI checks
  .github/workflows/bench.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-kind.yml
  .github/workflows/docs.yml
  .github/workflows/loadtest.yml
  .github/workflows/nightly-transfer.yml
  .github/workflows/security.yml
  .github/workflows/size-check.yml
  .github/workflows/smoke.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  scripts/check_insight_sri.py
  scripts/ensure_insight_sri.py
  tests/conftest.py
  tests/test_docs_bundle_hash.py
  tests/test_insight_sri.py
Due: py-compile

style: satisfy linting on tests and sri helper
  scripts/ensure_insight_sri.py
  tests/test_experience_launcher.py
  tests/test_gpu_detection.py
Due: py-compile

fix: resolve insight sri path for docs build
  scripts/ensure_insight_sri.py
Due: py-compile

docs: align mkdocs nav with insight docs
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/wasm_llm_README.md
  mkdocs.yml
Due: none

docs: fix disclaimer links in insight docs
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/wasm_llm_README.md
Due: none
