Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 2bbd0a55b3655b26991c936b92e0c0f6d6f4fa94
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: no-binary-diff
        name: Block binary diffs
        entry: python scripts/check_no_binary_diff.py
        language: python
        pass_filenames: false
      - id: update-actions
        name: Update workflow action versions
        entry: python tools/update_actions.py
        language: system
        files: ^\.github/workflows/
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

[alpha_factory] Scope integration CI tier-2 jobs to release contexts
  .github/workflows/ci.yml
Due: update-actions

ci: keep branch-protection guardrails runnable on main
  .github/workflows/ci.yml
Due: update-actions

fix: harden repo-healer workflow bundle scoping
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: py-compile

fix: guard repo-healer allowlist by workflow path
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: py-compile

fix: harden repo-healer workflow-run triage
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: update-actions, py-compile

fix: keep run-attempt report-only mode sticky
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: py-compile

[alpha_factory] Harden Repo-Healer execution gates
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  scripts/check_ci_status.py
  tests/test_check_ci_status.py
Due: update-actions, py-compile

[alpha_factory] Guard repo-healer dispatch input parsing
  .github/workflows/repo-healer.yml
Due: update-actions

[alpha_factory] Guard invalid repo-healer apply threshold
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  scripts/check_ci_status.py
  tests/test_check_ci_status.py
Due: update-actions, py-compile

[alpha_factory] Keep repo-healer mode token stdout-only
  .github/workflows/repo-healer.yml
Due: update-actions

[alpha_factory] Make repo-healer threshold configurable on workflow_run
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
Due: update-actions

[alpha_factory] Make repo-healer apply threshold configurable
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  scripts/check_ci_status.py
  tests/test_check_ci_status.py
Due: update-actions, py-compile

[alpha_factory] Let dispatch threshold override repo default
  .github/workflows/repo-healer.yml
Due: update-actions

[alpha_factory] Prioritize dispatch threshold override
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  scripts/check_ci_status.py
  tests/test_check_ci_status.py
Due: update-actions, py-compile

[alpha_factory] Align dispatch mode logic with threshold input
  .github/workflows/ci.yml
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
Due: update-actions

[alpha_factory] Respect configurable min attempt in bundle lock
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: py-compile

[alpha_factory] Share apply threshold env across healer steps
  .github/workflows/repo-healer.yml
Due: update-actions

[alpha_factory] Share threshold env with bundle build step
  .github/workflows/ci.yml
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  scripts/check_ci_status.py
  tests/repo_healer_v1/test_ci_bundle.py
  tests/test_check_ci_status.py
Due: update-actions, py-compile

[alpha_factory] Add apply-mode report-only fallback
  .github/workflows/repo-healer.yml
Due: update-actions

ci: scope merge integration and pin repo-healer to failing sha
  .github/workflows/ci.yml
  .github/workflows/repo-healer.yml
  alpha_factory_v1/demos/self_healing_repo/README.md
  docs/CI_WORKFLOW.md
Due: update-actions

fix: harden branch guardrails and mutmut compatibility
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
  pyproject.toml
  scripts/verify_branch_protection.py
  tests/test_ci_workflow_mutmut.py
  tests/test_verify_branch_protection.py
Due: update-actions, py-compile

ci: harden branch-protection watchdog dependencies
  .github/workflows/ci-health.yml
  tests/test_verify_branch_protection.py
Due: update-actions, py-compile

test: detect all requests imports in branch protection guard
  tests/test_verify_branch_protection.py
Due: py-compile

test: detect all requests imports via AST
  .github/workflows/ci-health.yml
  tests/test_verify_branch_protection.py
Due: update-actions, py-compile

test: block requests submodule imports in guard
  tests/test_verify_branch_protection.py
Due: py-compile

test: block requests submodule imports in guard
  .github/workflows/ci-health.yml
  tests/test_verify_branch_protection.py
Due: update-actions, py-compile

fix: harden mutmut CLI compatibility check
  .github/workflows/ci.yml
  tests/test_ci_workflow_mutmut.py
Due: update-actions, py-compile

fix: harden mutmut CI compatibility and artifact action pins
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
  tests/test_ci_workflow_mutmut.py
Due: update-actions, py-compile

fix: stabilize mutmut step for current CLI
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
  tests/test_ci_workflow_mutmut.py
Due: update-actions, py-compile

fix(ci): use mutmut config-only invocation
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
  tests/test_ci_workflow_mutmut.py
Due: update-actions, py-compile

test: harden mutmut CI drift guardrails
  docs/CI_WORKFLOW.md
  tests/test_ci_workflow_mutmut.py
Due: py-compile

fix: stabilize semgrep hook on Python 3.12
  .pre-commit-config.yaml
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/benchmark.py
  tests/test_precommit_semgrep_contract.py
Due: py-compile

fix: stabilize semgrep pre-commit hook on python 3.12
  .pre-commit-config.yaml
  docs/CI_WORKFLOW.md
  tests/test_precommit_semgrep_contract.py
Due: py-compile

chore: add SPDX header to semgrep contract test
  tests/test_precommit_semgrep_contract.py
Due: py-compile

fix: restore offline insight demo readiness
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.exports.js
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/d3_exports.js
  docs/alpha_agi_insight_v1/index.html
  tests/test_verify_demo_pages.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: harden docs demo readiness and insight build contract
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  scripts/verify_demo_pages.py
  tests/test_insight_build_script_contract.py
  tests/test_verify_demo_pages.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/src/i18n/en.json
Due: none

fix: restore docs/demo asset and repo-healer CI contracts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/service-worker.js
Due: none
