Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

fix: stabilize demo scripts and tests
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  pyproject.toml
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_property.py
  tests/test_web_app.py
Due: py-compile

fix: improve offline/test fallbacks
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/biotech_agent.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/agents/policy_agent.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/archive/solution_archive.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/safety_agent.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/conftest.py
  tests/test_web_app.py
Due: py-compile

Improve demo resilience and fallback handling
  alpha_factory_v1/backend/agents/biotech_agent.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/agents/policy_agent.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/safety_agent.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
Due: py-compile

fix: harden demo and agent utilities
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/resources/dummy_agent.whl.sig
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_property.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
Due: py-compile

fix: harden self-healing workflows
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/resources/dummy_agent.whl.sig
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_property.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
Due: py-compile

fix: harden agent utilities and demos
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/orchestrator.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/common/utils/config.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/utils/config.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  alpha_factory_v1/utils/config_common.py
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_safety_guardian_property.py
  tests/test_web_app.py
Due: py-compile

fix: harden patch application and demos
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_selfheal_env.py
  tests/test_web_app.py
Due: py-compile

fix: normalize self-heal patches and stabilize tests
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/utils/patch_guard.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_self_edit_tools.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
  tests/test_wheel_signature.py
Due: py-compile

fix: stabilize self-healing demo and tests
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_web_app.py
Due: py-compile

fix: stabilize agent utilities and demos
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/resources/dummy_agent.whl.sig
  tests/test_safety_guardian_property.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
  tests/test_wheel_signature.py
Due: py-compile

fix: repair insight demo docs and CI cleanup
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: add insight service worker and tighten yq patch
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: align insight demo CSP and service worker
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: restore insight v1 service worker
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

docs: add insight v1 appendix pages
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

docs: add insight v1 doc stubs
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

docs: add insight v1 markdown references
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: align insight v1 CSP and service worker hash
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: allow insight v1 stylesheet source
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: refresh insight doc CSP and SW hash
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  scripts/build_insight_docs.sh
  scripts/ensure_insight_csp.py
  scripts/ensure_insight_sw_hash.py
Due: py-compile

Ensure Insight docs update SW hash
  scripts/build_insight_docs.sh
  scripts/ensure_insight_csp.py
  scripts/ensure_insight_sw_hash.py
Due: py-compile

Refresh Insight CSP after SW hash
  scripts/build_insight_docs.sh
Due: none

Fix Insight CSP hash ordering
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  scripts/build_insight_docs.sh
  scripts/ensure_insight_csp.py
  scripts/ensure_insight_sw_hash.py
Due: py-compile

Wrap Insight vendor bundles to avoid ESM collisions
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
Due: py-compile, eslint-insight-browser

fix: narrow insight build script cleanup
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  scripts/build_insight_docs.sh
  scripts/ensure_insight_csp.py
  scripts/ensure_insight_sw_hash.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: avoid preloading insight ESM assets
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/insight_bootstrap.js
  docs/alpha_agi_insight_v1/sw.js
Due: none

fix: guard binary diffs and stabilize insight build
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-ci.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/app.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.sh
  scripts/fetch_assets.py
Due: py-compile, eslint-insight-browser

fix: harden insight assets and ci guards
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-ci.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/app.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.sh
  scripts/fetch_assets.py
Due: py-compile, eslint-insight-browser

ci: guard binary diffs and cache assets
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-ci.yml
  .pre-commit-config.yaml
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.py
  scripts/fetch_assets.py
Due: py-compile

fix: guard binary diffs in CI
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/size-check.yml
  .pre-commit-config.yaml
  scripts/check_no_binary_diff.sh
  scripts/fetch_assets.py
Due: py-compile

fix: enforce binary diff checks and cache assets
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/size-check.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.sh
  scripts/fetch_assets.py
Due: py-compile, eslint-insight-browser

fix: harden self-healing demo and tests
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/utils/a2a_pb2.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/test_orchestrator_backoff.py
  tests/test_orchestrator_rest.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_web_app.py
  tests/test_wheel_signature.py
Due: py-compile

chore: guard binary diffs in CI
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/size-check.yml
  .pre-commit-config.yaml
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.sh
  scripts/fetch_assets.py
Due: py-compile

fix: stabilize orchestration tests and demos
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/orchestrator.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/index.html
  tests/resources/dummy_agent.whl.sig
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
  tests/test_world_model_safety.py
Due: py-compile

fix: harden insight CI asset handling
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/app.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.py
  scripts/fetch_assets.py
Due: py-compile, eslint-insight-browser

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
