Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 0bacb757cb8aaef5ac6603fe129a42ad78d99956
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

ci: update actions and Dockerfile
  .github/workflows/ci.yml
  Dockerfile
Due: none

[alpha_factory] update ci actions and docker
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix: update CSP inline hash replacement
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  scripts/verify_insight_offline.py
Due: py-compile, eslint-insight-browser

chore: update base images and CSP
  .github/workflows/ci.yml
  Dockerfile
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/demos/alpha_agi_insight_v1/infrastructure/Dockerfile
  alpha_factory_v1/demos/alpha_asi_world_model/Dockerfile
  docs/alpha_agi_insight_v1/index.html
  infrastructure/Dockerfile
Due: none

fix: retain unsafe-inline when injecting SRI
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  docs/alpha_agi_insight_v1/index.html
Due: py-compile, eslint-insight-browser

fix: ensure git available in docker
  infrastructure/Dockerfile
Due: none

build: update python matrix and Docker bases
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_business_3_v1/Dockerfile
  alpha_factory_v1/demos/omni_factory_demo/Dockerfile
  docker/quickstart/Dockerfile
  infrastructure/evolution_worker.Dockerfile
  sandbox.Dockerfile
Due: none

fix: rewrite CSP meta tag with hashes
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  docs/alpha_agi_insight_v1/index.html
Due: py-compile

fix: ensure git available in demo images
  Dockerfile
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/demos/alpha_agi_insight_v1/infrastructure/Dockerfile
  alpha_factory_v1/demos/alpha_agi_insight_v1/infrastructure/docker-entrypoint.sh
  docker/quickstart/Dockerfile
  infrastructure/docker-entrypoint.sh
Due: none

ci: gate deploy on success
  .github/workflows/ci.yml
Due: none

test: add non_network fixture
  tests/conftest.py
Due: py-compile

fix: update CI Python versions and hashes
  .github/workflows/ci.yml
  requirements-dev.lock
Due: none

fix: stabilize business demo tests
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/__init__.py
  tests/test_alpha_agi_business_3_v1.py
Due: py-compile, eslint-insight-browser

fix: update CI and tests
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/__init__.py
  tests/test_aiga_service.py
Due: py-compile, eslint-insight-browser

fix: update CI workflow and docs
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/index.html
  requirements-demo.lock
Due: none

fix: handle None in business demo helpers
  alpha_factory_v1/demos/alpha_agi_business_3_v1/alpha_agi_business_3_v1.py
Due: py-compile

fix: improve API server test diagnostics
  alpha_factory_v1/core/interface/api_server.py
  tests/test_api_server_subprocess.py
Due: py-compile

docs: add CI quick start
  README.md
Due: none

test: unify offline fixture
  tests/conftest.py
Due: py-compile

chore: update lock files
  requirements-demo.lock
  requirements-dev.lock
  requirements.lock
Due: none

ci: update runner python versions
  .github/workflows/ci.yml
Due: none

ci: fix repo_owner_lower usage
  .github/workflows/ci.yml
Due: none

fix: hash all inline scripts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  docs/alpha_agi_insight_v1/index.html
Due: py-compile, eslint-insight-browser

test: improve result polling stability
  alpha_factory_v1/demos/alpha_agi_insight_v1/tests/test_api_server_subprocess.py
  tests/test_api_server.py
  tests/test_api_server_subprocess.py
  tests/test_api_server_uvicorn.py
Due: py-compile

fix: update Insight CSP hash
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: harden CSP and ci setup
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  docs/alpha_agi_insight_v1/index.html
  tests/conftest.py
Due: py-compile, eslint-insight-browser

fix: update CI config and docs
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
Due: none

test: load root conftest in all packages
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/__init__.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/tests/__init__.py
  alpha_factory_v1/tests/__init__.py
Due: py-compile

test: assert ADK teardown and post job
  tests/test_alpha_agi_business_3_v1.py
Due: py-compile

test: extend wait loops and capture logs
  tests/test_api_server_subprocess.py
  tests/test_api_server_uvicorn.py
Due: py-compile

docs: add quick checklist
  AGENTS.md
  CONTRIBUTING.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/__init__.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/tests/__init__.py
  alpha_factory_v1/tests/__init__.py
Due: py-compile

fix: remove quotes from repo owner
  .github/workflows/security.yml
Due: none

fix: allow unsafe requirements in Docker build
  Dockerfile
Due: none

fix: service worker path
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/sw.js
  docs/alpha_agi_insight_v1/service-worker.js
Due: eslint-insight-browser

test: ensure config tests import pytest
  tests/test_world_model_config.py
Due: py-compile

test: reset business demo globals
  tests/test_alpha_agi_business_3_v1.py
Due: py-compile

test: improve metrics startup
  tests/test_metrics.py
Due: py-compile

chore: recompile lock files
  requirements-dev.lock
  requirements.lock
Due: none

fix: hash inline scripts after service worker generation
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
Due: py-compile, eslint-insight-browser
