Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

ci: only docs-build updates pyodide hashes
  .github/workflows/ci.yml
Due: none

docs: clarify Pyodide update procedure
  alpha_factory_v1/scripts/README.md
  docs/CI_WORKFLOW.md
  docs/HOSTING_INSTRUCTIONS.md
Due: none

chore: set sandbox image for docs
  .github/workflows/docs.yml
Due: none

ci: remove pyodide pr comment from docker job
  .github/workflows/ci.yml
Due: none

ci: ensure deploy always runs
  .github/workflows/ci.yml
Due: none

chore: lint Insight browser tests
  .pre-commit-config.yaml
Due: none

ci: fetch assets after Pyodide update
  .github/workflows/ci.yml
Due: none

[alpha_factory] build sandbox for docs
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
Due: none

ci: set sandbox image env for tests
  .github/workflows/ci.yml
Due: none

ci: build sandbox before docs-check
  .github/workflows/ci.yml
Due: none

chore: exclude browser tests from eslint hook
  .pre-commit-config.yaml
Due: none

ci: isolate asset caches per platform
  .github/workflows/ci.yml
Due: none

[alpha_factory] gate docker push on test success
  .github/workflows/ci.yml
Due: none

ci: simplify job dependencies
  .github/workflows/ci.yml
Due: none

[alpha_factory] fix eslint exclude for tests
  .pre-commit-config.yaml
Due: none

ci: fail lint job on uncommitted fixes
  .github/workflows/ci.yml
Due: none

docs: note CI asset caching
  README.md
Due: none

docs: clarify CI asset caching
  docs/CI_WORKFLOW.md
Due: none

[alpha_factory] fix eslint warnings
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/archive.test.js
Due: eslint-insight-browser

fix: remove unused eslint comments
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/archive.test.js
Due: eslint-insight-browser

chore: refresh action versions
  .github/workflows/ci.yml
Due: none

ci: build sandbox image early
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

ci: fail on diff after pre-commit
  .github/workflows/ci.yml
Due: none

ci: reuse asset key generation
  .github/actions/generate-asset-key/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

ci: expose a11y threshold
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
Due: none

test: wait for controls panel
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_sw_update.js
Due: eslint-insight-browser

chore(ci): install docs deps before asset key
  .github/workflows/ci.yml
Due: none

fix: auto-refresh assets on checksum mismatch
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  scripts/fetch_assets.py
Due: py-compile

fix: service worker test path and retry
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/.github/workflows/demo.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_sw_update.js
Due: eslint-insight-browser

Add MseeP.ai badge to README.md
  README.md
Due: none

[alpha_factory] update asset checks
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/size-check.yml
  docs/CI_WORKFLOW.md
Due: none

docs: clarify asset verification
  docs/CI_WORKFLOW.md
Due: none

fix: stabilize CI
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_sw_update.js
Due: eslint-insight-browser

fix: stabilize docs workflow and browser test
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_sw_update.js
  requirements-docs.txt
Due: eslint-insight-browser

test: skip service worker reload on CI
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_sw_update.js
Due: eslint-insight-browser

ci: install docs deps before asset key
  .github/workflows/ci.yml
Due: none

ci: cache node setup in lint job
  .github/workflows/ci.yml
Due: none

ci: add node setup to docs check
  .github/workflows/ci.yml
Due: none

chore: bump percy cli
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
Due: none

fix: fetch workbox from official CDN
  scripts/fetch_assets.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib|wasm)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
