Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

update-actions:
  name: Update workflow action versions
  entry: python tools/update_actions.py
  language: system
  pass_filenames: false

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

fix(demos): keep offline launches off remote storage
  alpha_factory_v1/backend/memory_fabric.py
  alpha_factory_v1/demos/catalog.py
  docs/agent/DEMOS.md
  docs/agent/DEMO_VALIDATION.md
  docs/agent/RELEASE_NOTES_1.12.2.md
  tests/runtime/test_demo_launcher.py
  tests/test_demo_distribution.py
  tests/test_memory_fabric_fallback.py
Due: py-compile

[alpha_factory] Close the offline demo network boundary (#4739)
  .github/workflows/agent-release.yml
  alpha_factory_v1/backend/memory_fabric.py
  alpha_factory_v1/demos/catalog.py
  docs/agent/DEMOS.md
  docs/agent/DEMO_VALIDATION.md
  docs/agent/RELEASE_NOTES_1.12.2.md
  tests/runtime/test_demo_launcher.py
  tests/test_demo_distribution.py
  tests/test_memory_fabric_fallback.py
Due: update-actions, py-compile

fix: build Business 3 pages from an uninstalled checkout
  scripts/generate_business3.py
  tests/test_business3_delivery.py
Due: py-compile

fix: generate consistent release metadata for every workspace
  docs/alpha_agi_business_3_v1/index.html
  docs/alpha_factory_v1/demos/alpha_agi_business_3_v1/index.html
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension-protocol/index.html
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/bloom/index.html
  docs/alpha_factory_v1/demos/compounding/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/alpha_factory_v1/demos/studio/index.html
  docs/ascension/index.html
  docs/assets/ascension-protocol/desk.mjs
  docs/assets/service-worker.js
  docs/bloom/index.html
  docs/compounding/index.html
  docs/insight/index.html
  docs/service-worker.js
  docs/studio/index.html
  scripts/generate_gallery_html.py
  scripts/templates/ascension-protocol.html
  scripts/templates/ascension.html
  scripts/templates/bloom.html
  scripts/templates/business3.html
  scripts/templates/compounding.html
  scripts/templates/insight.html
  scripts/templates/studio.html
  tests/test_release_publication.py
Due: py-compile

fix: keep oversized-input test identifiers portable on Windows
  tests/runtime/test_business3.py
Due: py-compile

[alpha_factory] Run complete release gates for Business 3 polish
  .github/workflows/agent-release.yml
Due: update-actions

[alpha_factory] Link release notes to verified installation
  docs/agent/RELEASE_NOTES_1.13.1.md
Due: none

test: follow the accessible Business 3 research workspace link
  scripts/validate_decision_studio.py
Due: py-compile

[alpha_factory] Harden portable review text and complete release integration
  alpha_factory_v1/demos/solving_agi_governance/governance_sim.py
  alpha_factory_v1/demos/solving_agi_governance/openai_agents_bridge.py
  alpha_factory_v1/demos/solving_agi_governance/workbench.py
  docs/agent/GOVERNANCE.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/governance/engine.mjs
  docs/assets/governance/workbench.mjs
  docs/assets/service-worker.js
  docs/service-worker.js
  scripts/generate_governance.py
  scripts/validate_governance_core.py
  tests/test_governance_workbench.py
Due: py-compile

fix: condition governance punishment on public detection
  alpha_factory_v1/demos/solving_agi_governance/README.md
  alpha_factory_v1/demos/solving_agi_governance/workbench.py
  docs/agent/GOVERNANCE.md
  docs/agent/RELEASE_NOTES_1.14.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/solving_agi_governance/index.html
  docs/assets/governance/engine.mjs
  docs/assets/governance/workbench.mjs
  docs/assets/service-worker.js
  docs/demos/solving_agi_governance.md
  docs/service-worker.js
  docs/solving_agi_governance/index.html
  scripts/governance_evidence.py
  scripts/templates/governance.html
  scripts/validate_governance.py
  tests/test_governance_workbench.py
Due: py-compile

fix: synchronize gallery module URLs with the release cache
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/ascension-protocol/desk.mjs
  docs/assets/business3/artifacts.mjs
  docs/assets/business3/studio.mjs
  docs/assets/business3/worker.mjs
  docs/assets/service-worker.js
  docs/service-worker.js
  scripts/generate_gallery_html.py
  tests/test_generate_gallery_html.py
Due: py-compile

fix: preserve minimal imports and complete legacy v3 lineage acceptance
  alpha_factory_v1/demos/meta_agentic_agi_v3/meta_agentic_search/archive.py
  alpha_factory_v1/demos/meta_agentic_agi_v3/meta_agentic_search/search.py
  scripts/validate_native_demos.py
  tests/test_curriculum_boundaries.py
Due: py-compile

fix(muzero): support the full Python matrix and dedicated image
  alpha_factory_v1/demos/muzero_planning/requirements.lock
  alpha_factory_v1/demos/muzero_planning/requirements.txt
  docs/agent/OPERATIONS.md
  scripts/validate_legacy_compose.py
Due: py-compile

docs: include required operator start link in release notes
  docs/agent/RELEASE_NOTES_1.20.0.md
Due: none

fix: distinguish unvisited search branches from zero predictions
  alpha_factory_v1/demos/muzeromctsllmagent_v0/lab.py
  alpha_factory_v1/demos/muzeromctsllmagent_v0/ui.py
  tests/test_mcts_llm_lab.py
Due: py-compile

[alpha_factory] Make the finance launcher executable
  alpha_factory_v1/demos/finance_alpha/run.sh
Due: none

WIP: preserve recovered Sovereign workbench before completing release gates
  .github/workflows/agent-release.yml
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/README.md
  alpha_factory_v1/demos/catalog.json
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/README.md
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/__init__.py
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/__main__.py
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/archive/README.md.original.txt
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/archive/deploy_sovereign_agentic_agialpha_agent_v0.html.original.txt
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/archive/deploy_sovereign_agentic_agialpha_agent_v0.sh.original.txt
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/archive/manifest.json
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/deploy_sovereign_agentic_agialpha_agent_v0.sh
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/examples.json
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/models.py
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/recorded.json
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/service.py
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/web/app.js
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/web/index.html
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/web/style.css
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/workbench.py
  docs/CHANGELOG.md
  docs/agent/DEMO_VALIDATION.md
  docs/agent/RELEASE_NOTES_1.22.0.md
  docs/agent/RELEASE_READINESS.md
  docs/sovereign_agentic_agialpha_agent_v0/assets/lab-preview.svg
  mypy-sovereign.ini
  pyproject.toml
  scripts/finalize_pages_release.py
  scripts/generate_demo_docs.py
  scripts/generate_gallery_html.py
  scripts/generate_sovereign.py
  scripts/package_agent_release.py
  scripts/sovereign_evidence.py
  tests/runtime/test_demo_launcher.py
  tests/test_demo_distribution.py
Due: update-actions, py-compile

fix: satisfy release links, disclaimer and current browser dependency audit
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/web/index.html
  docs/agent/RELEASE_NOTES_1.22.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/sovereign_agentic_agialpha_agent_v0/index.html
  docs/assets/service-worker.js
  docs/service-worker.js
  docs/sovereign_agentic_agialpha_agent_v0/index.html
  scripts/validate_sovereign.py
Due: py-compile

fix: preserve practical workspace links in both Insight builds
  .github/workflows/build-insight.yml
Due: update-actions

Include the verified release installation path in catalog notes
  docs/agent/RELEASE_NOTES_1.23.0.md
Due: none

fix: support the documented demo and info launch commands
  alpha_factory_v1/demos/catalog.py
  alpha_factory_v1/run.py
  docs/agent/RELEASE_NOTES_1.23.1.md
  tests/runtime/test_demo_launcher.py
  tests/test_demo_distribution.py
Due: py-compile

fix: bind planning lab stop controls to active execution
  alpha_factory_v1/demos/muzeromctsllmagent_v0/ui.py
  docs/agent/RELEASE_NOTES_1.23.1.md
  scripts/validate_mcts_llm.py
  tests/test_mcts_llm_lab.py
Due: py-compile

fix: make planning cancellation session-local and cooperative
  alpha_factory_v1/demos/muzeromctsllmagent_v0/lab.py
  alpha_factory_v1/demos/muzeromctsllmagent_v0/ui.py
  docs/agent/RELEASE_NOTES_1.23.1.md
  scripts/validate_mcts_llm.py
  tests/test_mcts_llm_lab.py
Due: py-compile

test: wait for ready planning controls with session heartbeat
  scripts/validate_mcts_llm.py
Due: py-compile

Path conditions:
  update-actions: any of: ^\.github/workflows/
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
