Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 0bacb757cb8aaef5ac6603fe129a42ad78d99956
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

fix: align insight service worker path
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: add insight workbox runtime
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/lib/workbox-sw.js
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: stabilize backtrack boost selection
  alpha_factory_v1/core/simulation/mats_ops.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: py-compile

fix: restore insight docs assets
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: stabilize selfheal demo and docs assets
  .github/workflows/ci.yml
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: py-compile

fix: stabilize CI disk usage and docs assets
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: refresh docs service worker and CI cleanup
  .github/workflows/ci.yml
  docs/assets/service-worker.js
Due: none

fix: harden CI cleanup and self-edit replace
  .github/workflows/ci.yml
  alpha_factory_v1/core/self_edit/tools.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: py-compile

fix: refresh CSP hash and stabilize property test
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_safety_guardian_property.py
Due: py-compile

fix: align Insight service worker and CI cleanup
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_safety_guardian_property.py
Due: py-compile

fix: align Insight CSP with service worker
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_safety_guardian_property.py
Due: py-compile

chore: update semgrep hook and config
  .pre-commit-config.yaml
  scripts/fetch_assets.py
  semgrep.yml
Due: py-compile

chore: pin semgrep hook to commit
  .pre-commit-config.yaml
Due: none

docs: add Insight appendix pages
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: stabilize CI cleanup and tests
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/d3.exports.js
  scripts/cleanup_runner_disk.sh
  tests/test_macro_compose_config.py
  tests/test_mats.py
  tests/test_no_network.py
  tests/test_sw_integrity.py
  tests/test_workbox_integrity.py
  tests/test_world_model_cli.py
  tests/test_world_model_notebook_exec.py
Due: py-compile

fix: stabilize Insight build and CI disk cleanup
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  scripts/fetch_assets.py
  semgrep.yml
  tests/test_macro_compose_config.py
  tests/test_safety_guardian_property.py
  tests/test_workbox_integrity.py
  tests/test_world_model_cli.py
  tests/test_world_model_notebook_exec.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: stabilize CI checks and docs assets
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/assets/d3.exports.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  scripts/ci_free_disk.sh
  scripts/fetch_assets.py
  semgrep.yml
  tests/test_macro_compose_config.py
  tests/test_safety_guardian_property.py
  tests/test_sw_integrity.py
  tests/test_workbox_integrity.py
  tests/test_world_model_cli.py
  tests/test_world_model_notebook_exec.py
Due: py-compile

fix: package Insight d3 export asset
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
Due: eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: preserve line endings in self-edit replace
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/assets/d3.exports.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  scripts/build_insight_docs.sh
  scripts/ci_free_disk.sh
  scripts/fetch_assets.py
  semgrep.yml
  tests/test_macro_compose_config.py
  tests/test_safety_guardian_property.py
  tests/test_sw_integrity.py
  tests/test_workbox_integrity.py
  tests/test_world_model_cli.py
  tests/test_world_model_notebook_exec.py
Due: py-compile

fix: restore Insight d3 assets after docs rebuild
  scripts/build_insight_docs.sh
Due: none

fix: restore d3 assets before mkdocs build
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/assets/d3.exports.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  scripts/build_insight_docs.sh
  scripts/ci_free_disk.sh
  scripts/fetch_assets.py
  semgrep.yml
  tests/test_macro_compose_config.py
  tests/test_safety_guardian_property.py
  tests/test_sw_integrity.py
  tests/test_workbox_integrity.py
  tests/test_world_model_cli.py
  tests/test_world_model_notebook_exec.py
Due: py-compile

fix: harden insight asset handling
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  docs/alpha_agi_insight_v1/d3.exports.js
  scripts/build_insight_docs.sh
Due: eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/d3.exports.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: ensure insight demo assets and free disk in docs jobs
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/index.html
Due: none

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/d3.exports.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: stabilize insight docs assets and notebook tests
  docs/alpha_agi_insight_v1/d3_exports.js
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/docs/wasm_llm.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  scripts/build_insight_docs.sh
  tests/conftest.py
  tests/test_world_model_notebook_exec.py
Due: py-compile

fix: stabilize insight docs assets
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  scripts/build_insight_docs.sh
  scripts/ci_free_disk.sh
Due: eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/d3_exports.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: stabilize insight docs assets and test setup
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_browser_ui.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  tests/conftest.py
  tests/test_mats.py
  tests/test_no_network.py
  tests/test_postgres_ledger.py
  tests/test_pwa_update_reload.py
  tests/test_world_model_notebook_exec.py
Due: py-compile, eslint-insight-browser

fix: restore insight docs assets and free disk cache
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  scripts/ci_free_disk.sh
Due: none

fix: align insight docs and offline build tests
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/CHANGELOG.md
  docs/alpha_agi_insight_v1/docs/DESIGN.md
  docs/alpha_agi_insight_v1/docs/README.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/wasm_llm.md
  tests/conftest.py
  tests/test_build_quickstart_pdf.py
  tests/test_distribution_zip.py
  tests/test_pwa_update_reload.py
Due: py-compile

fix: stabilize ci checks and demo builds
  .github/workflows/docs.yml
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/API.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/CHANGELOG.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/DESIGN.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/bus_tls.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/codegen_agent.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  scripts/check_ci_status.py
  tests/conftest.py
  tests/test_no_network.py
Due: py-compile, eslint-insight-browser

fix: stabilize CI workflows and assets
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/API.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/CHANGELOG.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/DESIGN.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/bus_tls.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/codegen_agent.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  infrastructure/docker-compose.yml
  scripts/check_ci_status.py
  tests/conftest.py
Due: py-compile, eslint-insight-browser

fix: stabilize CI checks and docs
  alpha_factory_v1/core/utils/secure_run.py
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/API.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/CHANGELOG.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/DESIGN.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/bus_tls.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  docs/alpha_agi_insight_v1/docs/README.md
  scripts/check_ci_status.py
  tests/conftest.py
  tests/test_docker_health.py
  tests/test_no_network.py
Due: py-compile, eslint-insight-browser

fix: align asset checksums and windows hashes
  requirements-dev.lock
  scripts/fetch_assets.py
Due: py-compile

fix: update pyodide asset checksums
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  scripts/fetch_assets.py
Due: py-compile

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/CHANGELOG.md
  docs/alpha_agi_insight_v1/docs/DESIGN.md
  docs/alpha_agi_insight_v1/docs/README.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none
