Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

docs: update insight browser links
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
Due: none

docs: ignore mirrored demo markdown
  mkdocs.yml
Due: none

chore: install build tools before lock file
  .github/workflows/smoke.yml
Due: none

chore: extend smoke test timeout
  .github/workflows/smoke.yml
Due: none

chore: conditionally run pre-commit in smoke tests
  .github/workflows/smoke.yml
Due: none

ci: save ledger for smoke test
  .github/workflows/smoke.yml
Due: none

chore: update imports after messaging refactor
  alpha_factory_v1/common/utils/logging.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/utils/__init__.py
  tests/test_alert_webhook.py
  tests/test_insight_orchestrator_restart.py
  tests/test_orchestrator_bus_tls_env.py
Due: py-compile

fix: skip repeated agent discovery
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/discovery.py
Due: py-compile

fix: stub offline LLM provider
  alpha_factory_v1/backend/utils/llm_provider.py
Due: py-compile

ci: set offline env vars for smoke test
  .github/workflows/smoke.yml
Due: none

[alpha_factory] fix orchestrator imports
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/evaluators/__init__.py
  tests/test_insight_orchestrator_features.py
  tests/test_insight_orchestrator_restart.py
Due: py-compile

fix: expose logging util and run tests in smoke
  .github/workflows/smoke.yml
  alpha_factory_v1/core/utils/__init__.py
Due: py-compile

fix: robust ledger verification in smoke test
  .github/workflows/smoke.yml
Due: none

fix: defer scheduler import and update settings copy
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/cli.py
Due: py-compile

docs: add smoke test workflow section
  README.md
Due: none

ci: run smoke tests only
  .github/workflows/smoke.yml
Due: none

ci: run smoke tests on all Python versions
  .github/workflows/smoke.yml
Due: none

fix: limit smoke tests to one python
  .github/workflows/smoke.yml
Due: none

ci: install python deps in size check
  .github/workflows/size-check.yml
Due: none

fix: allow env check in CI
  scripts/env_check.sh
Due: none

[alpha_factory] chore: cache deps in size workflow
  .github/workflows/size-check.yml
  README.md
  docs/CHANGELOG.md
Due: none

docs: clarify Browser Size workflow
  README.md
Due: none

fix: preinstall deps in size workflow
  .github/workflows/size-check.yml
  README.md
  docs/CHANGELOG.md
Due: none

[alpha_factory] enhance browser size workflow caches
  .github/workflows/size-check.yml
  README.md
  docs/CHANGELOG.md
Due: none

[alpha_factory] run env check in browser size workflow
  .github/workflows/size-check.yml
  README.md
  docs/CHANGELOG.md
Due: none

fix: preinstall Python deps in size check workflow
  .github/workflows/size-check.yml
  README.md
  docs/CHANGELOG.md
Due: none

fix: update pyodide comment
  README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  scripts/fetch_assets.py
Due: py-compile

[alpha_factory] package assets in dist
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/sw.js
  scripts/build_insight_docs.sh
Due: eslint-insight-browser

ci: update browserslist step
  .github/workflows/size-check.yml
Due: none

docs: update pyodide version to 0.28.0
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/pyodide.js
  docs/assets/pyodide/pyodide-lock.json
  docs/assets/pyodide/pyodide.asm.wasm
  docs/assets/pyodide/pyodide.js
  docs/assets/pyodide_demo.js
Due: eslint-insight-browser

build: update pyodide lock and manifest
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  docs/assets/pyodide/pyodide-lock.json
  scripts/fetch_assets.py
Due: py-compile

ci: verify assets before building zip
  .github/workflows/size-check.yml
Due: none

feat: add Pyodide update helper script
  docs/HOSTING_INSTRUCTIONS.md
  scripts/update_pyodide.py
Due: py-compile

fix: update pyodide lock checksum and workflow
  .github/workflows/size-check.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  docs/assets/pyodide/pyodide-lock.json
  scripts/fetch_assets.py
Due: py-compile

chore: restrict size-check access
  .github/workflows/size-check.yml
Due: none

fix: update pyodide lock checksum
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  docs/assets/pyodide/pyodide-lock.json
  scripts/fetch_assets.py
Due: py-compile

fix: sync pyodide lock checksum
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  docs/assets/pyodide/pyodide-lock.json
  scripts/fetch_assets.py
Due: py-compile

docs: update Pyodide lock to v0.28.0
  docs/assets/pyodide/pyodide-lock.json
Due: none

fix: update pyodide checksum
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  scripts/fetch_assets.py
Due: py-compile

docs: update size workflow trigger
  README.md
Due: none

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib|wasm)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
