Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 2bbd0a55b3655b26991c936b92e0c0f6d6f4fa94
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: no-binary-diff
        name: Block binary diffs
        entry: python scripts/check_no_binary_diff.py
        language: python
        pass_filenames: false
      - id: update-actions
        name: Update workflow action versions
        entry: python tools/update_actions.py
        language: system
        files: ^\.github/workflows/
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

[alpha_factory] Publish lint installation stamps atomically
  docs/agent/RELEASE_NOTES_1.6.0.md
  docs/agent/release-evidence/insight-lint-race.json
  scripts/run_eslint.sh
  tests/test_eslint_install_guard.py
Due: py-compile

[alpha_factory] Require the lint race regression in PR smoke checks
  .github/workflows/pr-ci.yml
  tests/test_eslint_install_guard.py
Due: update-actions, py-compile

[alpha_factory] Fix concurrent lint checksum publication (#4726)
  .github/workflows/pr-ci.yml
  docs/agent/RELEASE_NOTES_1.6.0.md
  docs/agent/release-evidence/insight-lint-race.json
  scripts/run_eslint.sh
  tests/test_eslint_install_guard.py
Due: update-actions, py-compile

fix: preserve portable Atlas recovery and macOS lint support
  docs/agent/INSIGHT_ATLAS.md
  docs/agent/RELEASE_NOTES_1.6.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/insight/atlas.mjs
  docs/assets/insight/engine.mjs
  docs/assets/service-worker.js
  docs/service-worker.js
  scripts/run_eslint.sh
  scripts/validate_insight_atlas.py
  tests/browser/insight_engine.test.mjs
  tests/test_eslint_install_guard.py
Due: py-compile

[alpha_factory] Fix Atlas recovery downloads and macOS lint (#4727)
  docs/agent/INSIGHT_ATLAS.md
  docs/agent/RELEASE_NOTES_1.6.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/insight/atlas.mjs
  docs/assets/insight/engine.mjs
  docs/assets/service-worker.js
  docs/service-worker.js
  scripts/run_eslint.sh
  scripts/validate_insight_atlas.py
  tests/browser/insight_engine.test.mjs
  tests/test_eslint_install_guard.py
Due: py-compile

feat: add Nova-Seeds Proof Bloom and verified capability reuse
  .github/workflows/agent-release.yml
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  docs/CHANGELOG.md
  docs/agent/PROOF_BLOOM.md
  docs/agent/RELEASE_NOTES_1.7.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/bloom/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/ascension/index.html
  docs/assets/bloom/bloom.css
  docs/assets/bloom/bloom.mjs
  docs/assets/bloom/engine.mjs
  docs/assets/bloom/home.css
  docs/assets/bloom/playbooks.json
  docs/assets/service-worker.js
  docs/bloom/index.html
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  mkdocs.yml
  pyproject.toml
  scripts/finalize_pages_release.py
  scripts/generate_gallery_html.py
  scripts/package_agent_release.py
  scripts/templates/ascension.html
  scripts/templates/bloom.html
  scripts/templates/insight.html
  scripts/templates/portal.html
  scripts/validate_proof_bloom.py
  tests/browser/bloom_engine.test.mjs
  tests/test_release_publication.py
Due: update-actions, py-compile

fix: preserve Ascension navigation after background policy work
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/ascension/lab.mjs
  docs/assets/service-worker.js
  docs/service-worker.js
  scripts/validate_ascension.py
Due: py-compile

[alpha_factory] Add Nova-Seeds Proof Bloom and verified reuse (#4728)
  .github/workflows/agent-release.yml
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  docs/CHANGELOG.md
  docs/agent/PROOF_BLOOM.md
  docs/agent/RELEASE_NOTES_1.7.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/bloom/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/ascension/index.html
  docs/assets/ascension/lab.mjs
  docs/assets/bloom/bloom.css
  docs/assets/bloom/bloom.mjs
  docs/assets/bloom/engine.mjs
  docs/assets/bloom/home.css
  docs/assets/bloom/playbooks.json
  docs/assets/service-worker.js
  docs/bloom/index.html
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  mkdocs.yml
  pyproject.toml
  scripts/finalize_pages_release.py
  scripts/generate_gallery_html.py
  scripts/package_agent_release.py
  scripts/templates/ascension.html
  scripts/templates/bloom.html
  scripts/templates/insight.html
  scripts/templates/portal.html
  scripts/validate_ascension.py
  scripts/validate_proof_bloom.py
  tests/browser/bloom_engine.test.mjs
  tests/test_release_publication.py
Due: update-actions, py-compile

[alpha_factory] Apply the repository formatter to manuscript validation and transfer code
  alpha_factory_v1/core/runtime/transfer.py
  scripts/check_manuscript.py
  scripts/check_no_binary_diff.py
  scripts/finalize_pages_release.py
  scripts/validate_compounding.py
  tests/runtime/test_transfer.py
Due: py-compile

[alpha_factory] Preserve review timing provenance across imports and recovery
  docs/agent/COMPOUNDING_LAB.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/compounding/index.html
  docs/assets/compounding/lab.mjs
  docs/assets/service-worker.js
  docs/compounding/index.html
  docs/service-worker.js
  scripts/finalize_pages_release.py
  scripts/templates/compounding.html
  scripts/validate_compounding.py
  tests/test_release_publication.py
Due: py-compile

[alpha_factory] Fix narrow-phone navigation and satisfy manuscript quality gates
  alpha_factory_v1/core/runtime/transfer.py
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/compounding/index.html
  docs/assets/portal/portal.css
  docs/assets/service-worker.js
  docs/compounding/index.html
  docs/service-worker.js
  scripts/check_manuscript.py
  scripts/check_no_binary_diff.py
  scripts/package_agent_release.py
  scripts/templates/compounding.html
  scripts/validate_compounding.py
Due: py-compile

[alpha_factory] Harden operator request boundaries and complete final-release guides
  alpha_factory_v1/core/runtime/api.py
  docs/agent/CAPABILITIES.md
  docs/agent/OPERATIONS.md
  docs/agent/PAGES_GUIDE.md
  docs/agent/RELEASE_NOTES_1.8.0.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  tests/runtime/test_api_boundary.py
Due: py-compile

fix: clear stale accessible forecasts on experiment reset
  .github/workflows/agent-release.yml
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  docs/CHANGELOG.md
  docs/agent/CAPABILITIES.md
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.8.1.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/bloom/index.html
  docs/alpha_factory_v1/demos/compounding/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/ascension/index.html
  docs/assets/compounding/lab.mjs
  docs/assets/service-worker.js
  docs/bloom/index.html
  docs/compounding/index.html
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  mkdocs.yml
  pyproject.toml
  scripts/validate_compounding.py
Due: update-actions, py-compile

fix: clear stale accessible forecasts for v1.8.1 (#4730)
  .github/workflows/agent-release.yml
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  docs/CHANGELOG.md
  docs/agent/CAPABILITIES.md
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.8.1.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/bloom/index.html
  docs/alpha_factory_v1/demos/compounding/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/ascension/index.html
  docs/assets/compounding/lab.mjs
  docs/assets/service-worker.js
  docs/bloom/index.html
  docs/compounding/index.html
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  mkdocs.yml
  pyproject.toml
  scripts/validate_compounding.py
Due: update-actions, py-compile

Fix inference schemas, retained browser caches and release acceptance checks
  alpha_factory_v1/core/runtime/models.py
  alpha_factory_v1/core/runtime/provider.py
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.9.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/studio/index.html
  docs/assets/portal/cache-refresh.css
  docs/assets/portal/cache-refresh.js
  docs/assets/portal/portal.mjs
  docs/assets/service-worker.js
  docs/index.html
  docs/service-worker.js
  docs/studio/index.html
  scripts/build_service_worker.py
  scripts/generate_decision_studio.py
  scripts/templates/portal.html
  scripts/templates/studio.html
  scripts/validate_agent_model.py
  scripts/validate_decision_studio.py
  scripts/validate_pages_workspace.py
  tests/runtime/test_missions.py
Due: py-compile

Apply the repository-pinned Black 23.11 formatting
  alpha_factory_v1/core/runtime/models.py
  scripts/validate_decision_studio.py
Due: py-compile

fix: retain Decision Studio links in Insight bundle rebuilds
  .github/workflows/build-insight-bundle.yml
Due: update-actions

fix: retain Decision Studio links in Insight bundle rebuilds (#4732)
  .github/workflows/build-insight-bundle.yml
Due: update-actions

[alpha_factory] Close signature and recovery gaps in v1.10.1
  .github/workflows/agent-release.yml
  AGENTS.md
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/core/runtime/api.py
  alpha_factory_v1/core/runtime/engine.py
  alpha_factory_v1/core/runtime/provider.py
  alpha_factory_v1/core/runtime/store.py
  alpha_factory_v1/demos/catalog.json
  alpha_factory_v1/scripts/verify_wheel_sig.py
  codex/setup.sh
  docs/CHANGELOG.md
  docs/agent/CAPABILITIES.md
  docs/agent/DECISION_STUDIO.md
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.10.1.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/bloom/index.html
  docs/alpha_factory_v1/demos/compounding/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/alpha_factory_v1/demos/studio/index.html
  docs/ascension/index.html
  docs/assets/service-worker.js
  docs/bloom/index.html
  docs/compounding/index.html
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  docs/studio/index.html
  mkdocs.yml
  pyproject.toml
  tests/runtime/test_execution_boundaries.py
  tests/test_release_publication.py
  tests/test_verify_wheel.py
  tests/test_verify_wheel_sig.py
  tests/test_wheel_signature_integrity.py
Due: update-actions, py-compile

[alpha_factory] Recognize Windows provider disconnects in tests
  tests/runtime/test_execution_boundaries.py
Due: py-compile

[alpha_factory] Close signature and recovery gaps in v1.10.1 (#4734)
  .github/workflows/agent-release.yml
  AGENTS.md
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/core/runtime/api.py
  alpha_factory_v1/core/runtime/engine.py
  alpha_factory_v1/core/runtime/provider.py
  alpha_factory_v1/core/runtime/store.py
  alpha_factory_v1/demos/catalog.json
  alpha_factory_v1/scripts/verify_wheel_sig.py
  codex/setup.sh
  docs/CHANGELOG.md
  docs/agent/CAPABILITIES.md
  docs/agent/DECISION_STUDIO.md
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.10.1.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/bloom/index.html
  docs/alpha_factory_v1/demos/compounding/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/alpha_factory_v1/demos/studio/index.html
  docs/ascension/index.html
  docs/assets/service-worker.js
  docs/bloom/index.html
  docs/compounding/index.html
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  docs/studio/index.html
  mkdocs.yml
  pyproject.toml
  tests/runtime/test_execution_boundaries.py
  tests/test_release_publication.py
  tests/test_verify_wheel.py
  tests/test_verify_wheel_sig.py
  tests/test_wheel_signature_integrity.py
Due: update-actions, py-compile

[alpha_factory] Reject cross-wired Ascension modules before funding
  contracts/ascension/AscensionJobMarket.sol
  contracts/ascension/AscensionMark.sol
  contracts/ascension/AscensionRiskOracle.sol
  docs/agent/ASCENSION_PROTOCOL.md
  docs/agent/RELEASE_NOTES_1.11.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/ascension-protocol/receipt.json
  docs/assets/service-worker.js
  docs/service-worker.js
  tests/contracts/contracts/ascension/AscensionJobMarket.sol
  tests/contracts/contracts/ascension/AscensionMark.sol
  tests/contracts/contracts/ascension/AscensionRiskOracle.sol
  tests/contracts/test/ascension/lifecycle.test.js
Due: none

fix(factory): detect bootstrap lock drift and verify sandbox deadlines
  alpha_factory_v1/quickstart.py
  docs/agent/FACTORY_GUIDE.md
  docs/agent/RELEASE_NOTES_1.12.0.md
  tests/runtime/test_factory_launchers.py
  tests/test_preflight_sandbox.py
Due: py-compile

fix(release): link the canonical paper from clean source checkouts
  scripts/package_agent_release.py
  tests/test_release_publication.py
Due: py-compile

[alpha_factory] Correct catalog guide links and validate both demo entry points
  alpha_factory_v1/demos/README.md
  scripts/check_factory_readiness.py
Due: py-compile

test(demos): gate offline wheels with full backend dependencies
  .github/workflows/agent-release.yml
  tests/test_demo_distribution.py
Due: update-actions, py-compile
