Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

chore: align branch protection defaults with CI checks
  scripts/verify_branch_protection.py
  tests/test_verify_branch_protection_defaults.py
Due: py-compile

Format code with black
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  scripts/check_agialpha_config.py
  scripts/verify_branch_protection.py
Due: py-compile

ci: harden agialpha config validation
  scripts/check_agialpha_config.py
Due: py-compile

Add d3.exports.js to export d3 global
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.exports.js
Due: eslint-insight-browser

Update d3.v7.min.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.v7.min.js
Due: eslint-insight-browser

Refactor HTML structure and update styles
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
Due: none

Add d3.exports.js to export D3 library
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.exports.js
Due: eslint-insight-browser

Update print statement from 'Hello' to 'Goodbye'
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.v7.min.js
Due: eslint-insight-browser

Change greeting from 'Hello World' to 'Goodbye World'
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.v7.min.js
Due: eslint-insight-browser

Add d3.exports.js to export d3 from global scope
  docs/alpha_agi_insight_v1/d3.exports.js
Due: none

Update print statement from 'Hello' to 'Goodbye'
  docs/alpha_agi_insight_v1/d3.v7.min.js
Due: none

Create innovations.txt with notable inventions
  docs/alpha_agi_insight_v1/data/critics/innovations.txt
Due: none

Refine Content Security Policy and header layout
  docs/alpha_agi_insight_v1/index.html
Due: none

Delete docs/alpha_agi_insight_v1/insight.bundle.js
  docs/alpha_agi_insight_v1/insight.bundle.js
Due: none

Refactor service worker for caching and asset management
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

Create en.json for English localization
  docs/alpha_agi_insight_v1/src/i18n/en.json
Due: none

Add Spanish localization for application strings
  docs/alpha_agi_insight_v1/src/i18n/es.json
Due: none

Add French localization for application strings
  docs/alpha_agi_insight_v1/src/i18n/fr.json
Due: none

Add Chinese localization for application strings
  docs/alpha_agi_insight_v1/src/i18n/zh.json
Due: none

fix: harden ci-health branch targeting
  .github/workflows/ci-health.yml
Due: none

Add Insight bundle regeneration workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: update insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

Add workflow to auto-regenerate Insight bundle
  .github/workflows/build-insight-bundle.yml
Due: none

fix: export package path for insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: update build insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: harden insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: refine insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: refresh insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: repair build-insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

Add build insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

ci: add insight bundle build workflow
  .github/workflows/build-insight-bundle.yml
Due: none

ci: keep branch guardrails visible on all PRs
  .github/workflows/ci.yml
  README.md
  docs/CI_ENFORCEMENT.md
Due: none

ci: harden csp and gate optional aiga tests
  docs/alpha_agi_insight_v1/index.html
  requirements-cpu.lock
  requirements-dev.lock
  requirements.lock
  testing_notes.md
  tests/conftest.py
Due: py-compile

fix: repair branch protection job condition
  .github/workflows/ci.yml
Due: none

Add CI workflow to rebuild insight bundle
  .github/workflows/build-insight.yml
Due: none

Add Insight bundle auto-build workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: restore contents permission for insight bundle
  .github/workflows/build-insight-bundle.yml
Due: none

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
