Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 2bbd0a55b3655b26991c936b92e0c0f6d6f4fa94
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: no-binary-diff
        name: Block binary diffs
        entry: python scripts/check_no_binary_diff.py
        language: python
        pass_filenames: false
      - id: update-actions
        name: Update workflow action versions
        entry: python tools/update_actions.py
        language: system
        files: ^\.github/workflows/
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

fix: allow Docker to create the development dependency mount
  alpha_factory_v1/docker-compose.override.yml
  docs/agent/OPERATIONS.md
Due: none

fix: use PostgreSQL readiness for the optional TimescaleDB profile
  alpha_factory_v1/demos/era_of_experience/docker-compose.experience.yml
Due: none

fix: keep service credentials out of the Firejail child environment
  alpha_factory_v1/core/utils/secure_run.py
  docs/agent/OPERATIONS.md
  tests/test_secure_run.py
Due: py-compile

fix: invalidate Insight pages when sandbox policy or worker integrity changes
  .github/workflows/agent-release.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  docs/agent/VALIDATION.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
  scripts/validate_insight_cache_update.py
Due: update-actions, py-compile, eslint-insight-browser

fix: reject unsupported Compose versions during preflight
  alpha_factory_v1/scripts/preflight.py
  tests/test_preflight_optional_missing.py
Due: py-compile

fix: require Docker for untrusted code and retain Firejail for explicit trusted use
  alpha_factory_v1/core/runtime/cli.py
  alpha_factory_v1/core/utils/secure_run.py
  docs/agent/CAPABILITIES.md
  docs/agent/OPERATIONS.md
  tests/test_agents.py
  tests/test_secure_run.py
Due: py-compile

ci: mark container polling iterators intentionally unused
  .github/workflows/agent-release.yml
Due: update-actions

ci: include wallet signature dependency in legacy test environments
  .github/workflows/ci.yml
  scripts/ci_install_python_baseline.sh
Due: update-actions

ci: retain distinct benchmark and coverage artifacts per Python version
  .github/workflows/ci.yml
Due: update-actions

fix: preserve sandbox CSP through full gallery rebuilds for 1.2.1
  .github/workflows/agent-release.yml
  .github/workflows/ci.yml
  README.md
  alpha_factory_v1/__init__.py
  docs/agent/CAPABILITIES.md
  docs/agent/RELEASE_NOTES_1.2.1.md
  docs/agent/VALIDATION.md
  pyproject.toml
  scripts/ensure_insight_csp.py
  scripts/package_agent_release.py
  scripts/publish_agent_release.py
  tests/security/test_csp.py
Due: update-actions, py-compile

ci: retain full-tree hook evidence and require release-change hooks
  .github/workflows/agent-release.yml
  docs/agent/VALIDATION.md
  scripts/package_agent_release.py
Due: update-actions, py-compile

ci: provide the legacy sandbox image required by gallery preflight
  .github/workflows/agent-release.yml
Due: update-actions

ci: surface full-repository hook findings in the job log
  .github/workflows/agent-release.yml
Due: update-actions

release: preserve current development checkpoint with verified source and Git history
  .github/checkpoint/package.py
  .github/checkpoint/publish.py
  .github/workflows/current-checkpoint.yml
Due: update-actions, py-compile

test: require full repository quality and real legacy integrations
  .github/workflows/agent-release.yml
  docs/agent/RELEASE_NOTES_1.2.1.md
  docs/agent/VALIDATION.md
  scripts/package_agent_release.py
  tests/test_memeplex_ts.py
  tests/test_postgres_ledger.py
Due: update-actions, py-compile

docs: align upgrade instructions with 1.2.1 and link recovery checkpoint
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.2.1.md
Due: none

build: align documentation gRPC locks and require dependency consistency
  .github/workflows/agent-release.yml
  docs/agent/RELEASE_NOTES_1.2.1.md
  requirements-docs.lock
Due: update-actions

test: validate versioned release manifests and protect existing releases
  .github/workflows/agent-release.yml
  tests/test_release_publication.py
Due: update-actions, py-compile

Fix legacy restart notifications and verify actual exponential backoff
  .github/workflows/agent-release.yml
  alpha_factory_v1/core/orchestrator.py
  docs/agent/RELEASE_NOTES_1.2.1.md
  tests/test_insight_orchestrator_restart.py
  tests/test_orchestrator_backoff.py
Due: update-actions, py-compile

Preserve shared browser assets until the full regression suite finishes
  .github/workflows/agent-release.yml
Due: update-actions

Hold unpublished 1.2.1 while investigating historical full-asset documentation build
  .github/workflows/release-hold.yml
Due: update-actions

Publish complete gallery runtime assets and gate release on historical main CI
  .github/workflows/agent-release.yml
  docs/agent/RELEASE_NOTES_1.2.1.md
  docs/agent/VALIDATION.md
  scripts/build_gallery_site.sh
  scripts/build_insight_docs.sh
  scripts/validate_insight_offline.py
  scripts/wait_for_release_ci.py
  tests/test_release_ci_gate.py
Due: update-actions, py-compile

Preserve validated v1.2.1 with independently restored history checkpoint
  .github/checkpoint/package.py
  .github/checkpoint/publish.py
  .github/workflows/current-checkpoint.yml
Due: update-actions, py-compile

Package the complete verified browser and use explicit UTF-8 for Windows validation
  .github/workflows/agent-release.yml
  .github/workflows/smoke.yml
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.3.0.md
  scripts/check_agialpha_config.py
  scripts/package_agent_release.py
Due: update-actions, py-compile

Build v1.3.0 generated documentation with the pinned Node toolchain
  .github/workflows/prepare-1.3.0-assets.yml
Due: update-actions

Use a workspace asset cache in the preparation job
  .github/workflows/prepare-1.3.0-assets.yml
Due: update-actions

Pin Windows transport wheels and normalize generated runtime whitespace
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  requirements.lock
  requirements.txt
Due: eslint-insight-browser

Rebuild documentation from the corrected locked source
  .github/workflows/prepare-1.3.0-assets.yml
Due: update-actions

Clarify packaged model evidence and retain executable browser builder
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  docs/agent/VALIDATION.md
Due: eslint-insight-browser

Isolate smoke dependencies and cache optional browser WASM on demand
  .github/workflows/smoke.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: update-actions, eslint-insight-browser

Regenerate documentation with optional inference runtime caching
  .github/workflows/prepare-1.3.0-assets.yml
Due: update-actions

Close journal handles explicitly and verify recovery cleanup on every platform
  alpha_factory_v1/core/runtime/store.py
  docs/agent/RELEASE_NOTES_1.3.0.md
  tests/runtime/test_missions.py
Due: py-compile

Report v1.3.0 consistently when running directly from source
  alpha_factory_v1/__init__.py
Due: py-compile

Preserve the exact v1.3.0 work in progress and tomorrow's recovery handoff
  .github/checkpoint/package.py
  .github/checkpoint/publish.py
  .github/workflows/current-checkpoint.yml
Due: update-actions, py-compile

Verify the actual inference backend and require repaired AIGA service acceptance
  tests/test_aiga_service_e2e.py
  tests/test_gpu_detection.py
Due: py-compile

Audit the full Insight dependency graph and pin patched compatible tooling
  .github/workflows/agent-release.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  docs/agent/RELEASE_NOTES_1.3.0.md
  docs/agent/VALIDATION.md
Due: update-actions

Regenerate documentation from the audited browser dependency lock
  .github/workflows/prepare-1.3.0-assets.yml
Due: update-actions

Align the audited lockfile with the pinned CI npm toolchain
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
Due: none

Build generated documentation with the reproducible npm 10 lock
  .github/workflows/prepare-1.3.0-assets.yml
Due: update-actions
