Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 0bacb757cb8aaef5ac6603fe129a42ad78d99956
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

chore: update build insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: harden insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

Fix build insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

ci: fix insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: streamline insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: use Node 22 for Insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: align insight bundle workflow Node version
  .github/workflows/build-insight-bundle.yml
Due: none

fix: align Insight bundle workflow Node version
  .github/workflows/build-insight-bundle.yml
Due: none

chore: refine insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: use node 22 for insight bundle build
  .github/workflows/build-insight-bundle.yml
Due: none

chore: update insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: use Node.js 22 for insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

chore: align insight bundle workflow
  .github/workflows/build-insight-bundle.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
Due: none

Align Insight build scripts with Node 20
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/version_check.js
Due: eslint-insight-browser

fix: use node 22 for insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: update insight bundle workflow node requirements
  .github/workflows/build-insight-bundle.yml
Due: none

chore: add insight bundle build workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: repair insight bundle workflow
  .github/workflows/build-insight.yml
Due: none

fix: skip wasm LLM downloads in doc builds
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  scripts/fetch_assets.py
Due: py-compile

fix: use Node 22 for insight bundle build
  .github/workflows/build-insight-bundle.yml
Due: none

fix: use node 22 and allow install scripts
  .github/workflows/build-insight-bundle.yml
Due: none

chore: align build-insight-bundle node version
  .github/workflows/build-insight-bundle.yml
Due: none

fix: build insight bundle with node 22
  .github/workflows/build-insight-bundle.yml
Due: none

fix: use Node 22 in insight bundle workflow
  .github/workflows/build-insight-bundle.yml
Due: none

fix: require token for remediation flags
  scripts/check_ci_status.py
Due: py-compile

fix: strengthen ci health automation
  .github/workflows/ci-health.yml
  scripts/check_ci_status.py
Due: py-compile

Improve CI status remediation safety
  scripts/check_ci_status.py
Due: py-compile

Improve CI remediation handling
  scripts/check_ci_status.py
Due: py-compile

fix: harden CI remediation
  scripts/check_ci_status.py
Due: py-compile

fix: allow workflow dispatch preflight from metadata
  scripts/check_ci_status.py
Due: py-compile
