Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

build: raise docs bundle size limit
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
Due: py-compile, eslint-insight-browser

fix: update pyodide checksums
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  scripts/fetch_assets.py
Due: py-compile

[alpha_factory] update pyodide asset checksums
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  scripts/fetch_assets.py
Due: py-compile

docs: mention CI_SKIP_ENV_CHECK
  docs/GITHUB_PAGES_DEMO_TASKS.md
Due: none

[alpha_factory] sync build manifest via fetch script
  docs/GITHUB_PAGES_DEMO_TASKS.md
  scripts/fetch_assets.py
Due: py-compile

chore(web_client): bump vue plugin
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
Due: none

docs: remind to run check_env before pytest
  tests/README.md
Due: none

fix: ensure build manifest script resolves repo root
  scripts/generate_build_manifest.py
Due: py-compile

[alpha_factory] pin plugin-vue for docs workflow
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
Due: none

docs: note node 20+ and plugin-vue 6
  alpha_factory_v1/core/interface/web_client/README.md
Due: none

docs: mention plugin-vue 6 for Docs workflow
  docs/CHANGELOG.md
Due: none

fix: overwrite PWA files in doc build
  scripts/build_insight_docs.sh
Due: none

docs: fix broken links
  docs/INTRO_BASICS.md
  docs/OFFLINE_SETUP.md
  docs/PROJECT_README.md
  docs/demos/aiga_meta_evolution.md
  docs/demos/alpha_agi_business_2_v1.md
  docs/demos/alpha_agi_business_3_v1.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v0.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/cross_industry_alpha_factory.md
  docs/demos/era_of_experience.md
  docs/demos/finance_alpha.md
  docs/demos/macro_sentinel.md
  docs/demos/meta_agentic_agi.md
  docs/demos/meta_agentic_agi_v2.md
  docs/demos/meta_agentic_agi_v3.md
  docs/demos/meta_agentic_tree_search_v0.md
  docs/demos/muzero_planning.md
  docs/demos/muzeromctsllmagent_v0.md
  docs/demos/omni_factory_demo.md
  docs/demos/self_healing_repo.md
  docs/demos/solving_agi_governance.md
  docs/demos/sovereign_agentic_agialpha_agent_v0.md
  docs/demos/utils.md
Due: none

docs: fix gallery link generation
  docs/demos/aiga_meta_evolution.md
  docs/demos/alpha_agi_business_2_v1.md
  docs/demos/alpha_agi_business_3_v1.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v0.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/cross_industry_alpha_factory.md
  docs/demos/era_of_experience.md
  docs/demos/finance_alpha.md
  docs/demos/macro_sentinel.md
  docs/demos/meta_agentic_agi.md
  docs/demos/meta_agentic_agi_v2.md
  docs/demos/meta_agentic_agi_v3.md
  docs/demos/meta_agentic_tree_search_v0.md
  docs/demos/muzero_planning.md
  docs/demos/muzeromctsllmagent_v0.md
  docs/demos/omni_factory_demo.md
  docs/demos/self_healing_repo.md
  docs/demos/solving_agi_governance.md
  docs/demos/sovereign_agentic_agialpha_agent_v0.md
  docs/demos/utils.md
  internal_docs/GITHUB_PAGES_DEMO_TASKS.md
  mkdocs.yml
  scripts/generate_demo_docs.py
Due: py-compile

docs: fix CHANGELOG links
  docs/CHANGELOG.md
Due: none

fix: repair docs links and nav
  docs/HOSTING_INSTRUCTIONS.md
  docs/OVERVIEW.md
  docs/PROJECT_README.md
  docs/QUICKSTART_BASICS.md
  docs/alpha_agi_insight_v1/README.md
  docs/alpha_factory_v1/demos/README.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/README.md
  docs/alpha_super_planner_v1/assets/preview.svg
  docs/demos/README.md
  docs/demos/aiga_meta_evolution.md
  docs/demos/alpha_agi_business_2_v1.md
  docs/demos/alpha_agi_business_3_v1.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v0.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/alpha_super_planner_v1.md
  docs/demos/cross_industry_alpha_factory.md
  docs/demos/era_of_experience.md
  docs/demos/finance_alpha.md
  docs/demos/gpt2_small_cli.md
  docs/demos/macro_sentinel.md
  docs/demos/meta_agentic_agi.md
  docs/demos/meta_agentic_agi_v2.md
  docs/demos/meta_agentic_agi_v3.md
  docs/demos/meta_agentic_tree_search_v0.md
  docs/demos/muzero_planning.md
  docs/demos/muzeromctsllmagent_v0.md
  docs/demos/omni_factory_demo.md
  docs/demos/self_healing_repo.md
  docs/demos/solving_agi_governance.md
  docs/demos/sovereign_agentic_agialpha_agent_v0.md
  docs/demos/utils.md
  docs/gpt2_small_cli/assets/preview.svg
  docs/quickstart.md
  mkdocs.yml
  scripts/generate_demo_docs.py
Due: py-compile

docs: fix missing colab link
  docs/demos/index.html
Due: none

docs: rename READMEs with index.html
  README.md
  alpha_factory_v1/core/interface/web_client/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/index.md
Due: none

docs: move meta evolution asset
  docs/aiga_meta_evolution/assets/bridge_overview.svg
  docs/assets/service-worker.js
  docs/demos/aiga_meta_evolution.md
  scripts/build_insight_docs.sh
Due: none

ci: enforce mkdocs strict build
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

chore: ignore mkdocs warnings in CI
  scripts/deploy_gallery_pages.sh
Due: none

fix: clean docs links
  docs/aiga_meta_evolution/bridge_overview.svg
  docs/demos/aiga_meta_evolution.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
Due: none

fix: update demo docs links
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v1.md
Due: none

fix: avoid strict docs build in CI
  scripts/build_insight_docs.sh
Due: none

docs: fix quickstart link
  docs/INTRO.md
Due: none

docs: fix demo assets and rename readme
  alpha_factory_v1/demos/OVERVIEW.md
  docs/demos/aiga_meta_evolution.md
Due: none

ci: enforce strict docs build
  .github/workflows/docs.yml
  scripts/build_insight_docs.sh
Due: none

fix: rewrite demo docs links
  scripts/generate_demo_docs.py
  tests/test_generate_demo_docs.py
Due: py-compile

fix: skip strict docs build in CI
  scripts/build_insight_docs.sh
Due: none

chore: enforce strict docs build
  scripts/build_insight_docs.sh
Due: none

fix: avoid mkdocs strict in CI
  scripts/build_insight_docs.sh
Due: none

docs: rewrite demo links to handle folders
  docs/demos/aiga_meta_evolution.md
  docs/demos/alpha_agi_business_2_v1.md
  docs/demos/alpha_agi_business_3_v1.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v0.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/cross_industry_alpha_factory.md
  docs/demos/era_of_experience.md
  docs/demos/finance_alpha.md
  docs/demos/macro_sentinel.md
  docs/demos/meta_agentic_agi.md
  docs/demos/meta_agentic_agi_v2.md
  docs/demos/meta_agentic_agi_v3.md
  docs/demos/meta_agentic_tree_search_v0.md
  docs/demos/muzero_planning.md
  docs/demos/muzeromctsllmagent_v0.md
  docs/demos/omni_factory_demo.md
  docs/demos/self_healing_repo.md
  docs/demos/solving_agi_governance.md
  docs/demos/sovereign_agentic_agialpha_agent_v0.md
  scripts/generate_demo_docs.py
Due: py-compile

fix: ensure docs workflow sets CI
  .github/workflows/docs.yml
Due: none

fix: rewrite directory links in demo docs
  docs/demos/aiga_meta_evolution.md
  docs/demos/alpha_agi_business_2_v1.md
  docs/demos/alpha_agi_business_3_v1.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v0.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/cross_industry_alpha_factory.md
  docs/demos/era_of_experience.md
  docs/demos/finance_alpha.md
  docs/demos/macro_sentinel.md
  docs/demos/meta_agentic_agi.md
  docs/demos/meta_agentic_agi_v2.md
  docs/demos/meta_agentic_agi_v3.md
  docs/demos/meta_agentic_tree_search_v0.md
  docs/demos/muzero_planning.md
  docs/demos/muzeromctsllmagent_v0.md
  docs/demos/omni_factory_demo.md
  docs/demos/self_healing_repo.md
  docs/demos/solving_agi_governance.md
  docs/demos/sovereign_agentic_agialpha_agent_v0.md
  scripts/generate_demo_docs.py
Due: py-compile

fix: update asset links
  alpha_factory_v1/demos/alpha_agi_marketplace_v1/README.md
  docs/demos/aiga_meta_evolution.md
Due: none

docs: add production guides and terms
  docs/TERMS_AND_CONDITIONS/assets/preview.svg
  docs/aiga_meta_evolution/PRODUCTION_GUIDE.md
  docs/alpha_agi_business_v1/BEST_ALPHA_WORKFLOW.md
  docs/alpha_agi_business_v1/PRODUCTION_GUIDE.md
  docs/alpha_agi_business_v1/QUICK_START.md
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/insight_browser_v1/index.md
  docs/alpha_agi_insight_v1/src/interface/web_client/index.md
  docs/demos/TERMS_AND_CONDITIONS.md
Due: none

docs: fix demo links
  docs/demos/aiga_meta_evolution.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_insight_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
Due: none

docs: add meta agi asset READMEs with disclaimer
  docs/meta_agentic_agi/assets/README.md
  docs/meta_agentic_agi_v2/assets/README.md
  docs/meta_agentic_agi_v3/assets/README.md
Due: none

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib|wasm)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
