Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: v1.61.0
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib|wasm)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

[alpha_factory] fix docs workflow and eslint ignores
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/eslint.config.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
Due: eslint-insight-browser

chore: move dispatch token check to step
  .github/workflows/bench.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-kind.yml
  .github/workflows/docs.yml
  .github/workflows/loadtest.yml
  .github/workflows/nightly-transfer.yml
  .github/workflows/security.yml
  .github/workflows/size-check.yml
  .github/workflows/smoke.yml
Due: none

fix(web-client): bump vite to ^5
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
Due: none

fix: guard workflow dispatch
  .github/workflows/bench.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-kind.yml
  .github/workflows/docs.yml
  .github/workflows/loadtest.yml
  .github/workflows/nightly-transfer.yml
  .github/workflows/security.yml
  .github/workflows/size-check.yml
  .github/workflows/smoke.yml
Due: none

chore: bump vite to v5
  alpha_factory_v1/core/interface/web_client/staking/package-lock.json
  alpha_factory_v1/core/interface/web_client/staking/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/package.json
Due: none

docs: note run_token requirement
  README.md
  docs/HOSTING_INSTRUCTIONS.md
Due: none

Use npm for node installs
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  alpha_factory_v1/core/interface/web_client/README.md
  alpha_factory_v1/core/interface/web_client/playwright.config.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/infrastructure/Dockerfile
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/README.md
  docs/README.md
  docs/demos/alpha_agi_insight_v1.md
Due: none

[alpha_factory] add docs build job
  .github/workflows/ci.yml
Due: none

[alpha_factory] update react plugin
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
Due: none

docs: clarify docs workflow trigger
  README.md
  docs/HOSTING_INSTRUCTIONS.md
Due: none

[alpha_factory] secure docs workflow trigger
  .github/workflows/docs.yml
  README.md
  docs/HOSTING_INSTRUCTIONS.md
Due: none

fix: validate docs workflow dispatch
  .github/workflows/docs.yml
Due: none

fix: restrict docs workflow to repo owner
  .github/workflows/docs.yml
  README.md
  docs/HOSTING_INSTRUCTIONS.md
Due: none

fix: restrict docs workflow trigger
  .github/workflows/docs.yml
  docs/HOSTING_INSTRUCTIONS.md
Due: none

fix: verify repository owner before docs build
  .github/workflows/docs.yml
Due: none

fix: add missing __init__.py to self_healing_repo
  alpha_factory_v1/demos/self_healing_repo/__init__.py
Due: py-compile

ci: install ruff for docs workflow
  .github/workflows/docs.yml
Due: none

chore: pin optional packages for docs build
  requirements-docs.txt
Due: none

[alpha_factory] add SPDX header to self_healing_repo
  alpha_factory_v1/demos/self_healing_repo/__init__.py
Due: py-compile

fix: install Ruff before env check
  .github/workflows/docs.yml
Due: none

[alpha_factory] restrict docs workflow
  .github/workflows/docs.yml
Due: none

chore: add SPDX header to self-healing demo
  alpha_factory_v1/demos/self_healing_repo/__init__.py
Due: py-compile

fix: auto-install ruff when missing
  check_env.py
Due: py-compile

ci: enforce offline mode in docs workflow
  .github/workflows/docs.yml
Due: none

chore: update pyodide checksums
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
Due: none

feat: sync build manifest
  .github/workflows/docs.yml
  docs/DEMO_GALLERY.md
  docs/GITHUB_PAGES_DEMO_TASKS.md
  docs/HOSTING_INSTRUCTIONS.md
  scripts/generate_build_manifest.py
Due: py-compile

ci: verify browser assets early
  .github/workflows/docs.yml
Due: none

fix: sync docs build manifest
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
Due: none

chore: update web client lock file
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
Due: none

[alpha_factory] derive asset checksums from fetch script
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/scripts/README.md
  scripts/generate_build_manifest.py
Due: py-compile

chore: update web client packages
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
Due: none

[alpha_factory] feat: skip env check in CI
  .github/workflows/docs.yml
  scripts/deploy_gallery_pages.sh
  scripts/edge_of_knowledge_sprint.sh
Due: none

fix: update asset checksums
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
Due: eslint-insight-browser

chore: skip manifest rewrite when unchanged
  scripts/generate_build_manifest.py
Due: py-compile

fix: verify asset hashes and adjust docs workflow
  .github/workflows/docs.yml
  scripts/fetch_assets.py
Due: py-compile

fix: avoid redundant asset fetch in docs deploy
  scripts/deploy_gallery_pages.sh
Due: none

fix: show expected checksum on mismatch
  scripts/fetch_assets.py
Due: py-compile

fix: detail checksum mismatch in build script
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: eslint-insight-browser

docs: note manifest update when checksums change
  scripts/fetch_assets.py
Due: py-compile
