Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

ci: run downstream jobs even on failure
  .github/workflows/ci.yml
Due: none

docs: clarify CI workflow requirements
  docs/CI_WORKFLOW.md
Due: none

ci: remove duplicate playwright install
  .github/workflows/ci.yml
Due: none

fix: improve CI stability
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_sw_update.js
Due: eslint-insight-browser

Create WHITEPAPER
  WHITEPAPER
Due: none

Rename WHITEPAPER to WHITEPAPER.md
  WHITEPAPER.md
Due: none

Create Biography.md
  Biography.md
Due: none

fix: skip flaky service worker test in CI
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_sw_update.js
Due: eslint-insight-browser

fix: update lockfiles
  alpha_factory_v1/requirements.lock
  requirements-demo.lock
  requirements-dev.lock
  requirements.lock
Due: none

chore: remove cuda deps from cpu lock files
  requirements-cpu.lock
  requirements-demo-cpu.lock
  scripts/update_root_lock_files.sh
Due: none

fix: improve offline check stability
  scripts/verify_insight_offline.py
Due: py-compile

fix: include core requirements in Docker image
  infrastructure/Dockerfile
Due: none

fix: restrict CUDA wheels to Linux
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.lock
  alpha_factory_v1/demos/era_of_experience/requirements.lock
  alpha_factory_v1/demos/meta_agentic_tree_search_v0/requirements.lock
  requirements-demo.lock
Due: none

fix: improve asset fetch resilience
  .github/workflows/ci.yml
  README.md
  docs/CHANGELOG.md
  scripts/fetch_assets.py
Due: py-compile

fix: stable docker build and docs checks
  infrastructure/Dockerfile
  scripts/verify_insight_offline.py
Due: py-compile

fix: harmonize locks and improve ci stability
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.lock
  alpha_factory_v1/demos/era_of_experience/requirements.lock
  alpha_factory_v1/demos/meta_agentic_tree_search_v0/requirements.lock
  alpha_factory_v1/requirements.lock
  infrastructure/evolution_worker.Dockerfile
  requirements-cpu.lock
  scripts/verify_insight_offline.py
Due: py-compile

ci: fix docs build timeout and docker
  .github/workflows/ci.yml
  infrastructure/Dockerfile
Due: none

fix: stabilize docs and docker builds
  .github/workflows/ci.yml
  infrastructure/Dockerfile
  scripts/verify_insight_offline.py
Due: py-compile

chore: update gradio and lock
  requirements-demo.lock
  requirements-demo.txt
Due: none

chore: add self_healing_repo to packages
  pyproject.toml
Due: none

fix: align FastAPI version and package demo
  .dockerignore
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.in
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.lock
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.txt
  alpha_factory_v1/demos/era_of_experience/requirements.lock
  alpha_factory_v1/demos/meta_agentic_tree_search_v0/requirements.lock
  alpha_factory_v1/requirements-colab.lock
Due: none

fix: resolve fastapi conflict and package install
  infrastructure/Dockerfile
  requirements-demo.lock
  requirements-demo.txt
Due: none

fix: update locks and package lists
  pyproject.toml
  requirements-demo.lock
  requirements-dev.lock
  requirements.lock
Due: none

fix: sync demo lock and update insight CSP
  Dockerfile
  docs/alpha_agi_insight_v1/index.html
  requirements-demo.lock
Due: none

fix: align packages and CSP
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  pyproject.toml
  requirements-demo.lock
Due: eslint-insight-browser

fix: align demo requirements and update browser SRI
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/self_healing_repo/__init__.py
  requirements-demo.lock
Due: py-compile

Rename Biography.md to AGIKing.md
  AGIKing.md
Due: none

fix: ensure docker build includes tree search demo
  .dockerignore
  scripts/verify_insight_offline.py
Due: py-compile

fix: update CSP hash for insight demo
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  docs/alpha_agi_insight_v1/index.html
Due: py-compile, eslint-insight-browser

build: update demo Docker images to python 3.12
  Dockerfile
  infrastructure/Dockerfile
Due: none

build: refresh insight service worker
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/style.css
Due: none

chore: include tree search demo in docker context
  .dockerignore
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: update SRI hash algorithm
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
Due: py-compile

fix: align Insight CSP hash
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  docs/alpha_agi_insight_v1/index.html
Due: py-compile, eslint-insight-browser

fix: update Insight docs CSP
  docs/alpha_agi_insight_v1/index.html
Due: none

docs: update CSP hash
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_insight_offline.py
Due: py-compile

fix: update CSP hash and improve PWA check
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_insight_offline.py
Due: py-compile

ci: update action versions and python patches
  .github/workflows/ci.yml
Due: none

docs: clarify owner trigger for CI
  docs/CI_WORKFLOW.md
Due: none

fix: update Insight CSP hash replacement
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  scripts/verify_insight_offline.py
Due: py-compile

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
