Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

update-actions:
  name: Update workflow action versions
  entry: python tools/update_actions.py
  language: system
  pass_filenames: false

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

[alpha_factory] Resolve contributor guide outside the published docs
  docs/agent/REPOSITORY_GUIDE.md
Due: none

[alpha_factory] Preserve the quickstart image command-line entry point
  docker/quickstart/Dockerfile
  tests/test_docker_health.py
Due: py-compile

fix: preserve licensed Pyodide source placeholder
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/pyodide.js
Due: eslint-insight-browser

fix: refresh audited browser tools and preserve usable demo controls
  .github/workflows/agent-release.yml
  CHANGELOG.md
  README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/app.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/style.css
  alpha_factory_v1/demos/muzero_planning/agent_muzero_entrypoint.py
  docs/CHANGELOG.md
  docs/agent/RELEASE_NOTES_1.23.3.md
  docs/agent/VALIDATION.md
  scripts/validate_insight_offline.py
  scripts/validate_muzero.py
Due: update-actions, py-compile, eslint-insight-browser

fix: reject weak signature encodings and validate pinned browser lifecycle
  alpha_factory_v1/core/runtime/successor/aggregation.py
  alpha_factory_v1/core/runtime/successor/ascension.py
  alpha_factory_v1/core/runtime/successor/evaluation.py
  alpha_factory_v1/core/runtime/successor/mission.py
  alpha_factory_v1/core/runtime/successor/protocol.py
  alpha_factory_v1/core/runtime/successor/signatures.py
  alpha_factory_v1/core/runtime/successor/state.py
  alpha_factory_v1/core/runtime/successor/transport.py
  alpha_factory_v1/core/runtime/successor/trust.py
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/service-worker.js
  docs/assets/successor/engine.mjs
  docs/service-worker.js
  scripts/release_packs.py
  scripts/validate_successor.py
  tests/browser/successor_engine.test.mjs
  tests/runtime/test_successor_jobs.py
  tests/runtime/test_successor_mission.py
  tests/runtime/test_successor_signatures.py
Due: py-compile

fix: patch preserved web client and Insight dependency advisories
  alpha_factory_v1/core/interface/web_client/dist/assets/index-D-bH7Z_k.js
  alpha_factory_v1/core/interface/web_client/dist/assets/index.DAwkOG1H.css
  alpha_factory_v1/core/interface/web_client/dist/index.html
  alpha_factory_v1/core/interface/web_client/dist/service-worker.js
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
  alpha_factory_v1/core/interface/web_client/public/service-worker.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  docs/agent/RELEASE_NOTES_1.24.0.md
Due: none

fix: preserve canonical source and verifier bindings on Windows
  alpha_factory_v1/core/runtime/successor/mission.py
  alpha_factory_v1/core/runtime/successor/orchestration.py
  tests/runtime/test_successor_mission.py
Due: py-compile

fix: complete operator guidance and local deployment workflows
  README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/workspace.py
  docs/QUICKSTART_BASICS.md
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.24.0.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/REPOSITORY_GUIDE.md
  docs/agent/START_HERE.md
  docs/agent/SUCCESSOR.md
  docs/agent/SUCCESSOR_OPERATIONS.md
  docs/agent/SUCCESSOR_PACKAGING.md
  scripts/check_agialpha_config.py
  scripts/install_agent.py
  scripts/release_packs.py
  scripts/setup_wizard.py
  tests/contracts/README.md
  tests/contracts/package.json
  tests/contracts/scripts/check-deployment-config.js
  tests/contracts/scripts/deploy.js
  tests/contracts/scripts/deployment.js
  tests/contracts/test/deployment.test.js
  tests/repo_healer_v1/test_workspace.py
  tests/test_release_installer.py
  tests/test_release_packs.py
  tests/test_setup_wizard.py
  truffle/README.md
  truffle/migrations/2_deploy_agijobs_v2.js
  truffle/truffle-config.js
Due: py-compile

fix: bind release retry evidence to successful producers
  .github/workflows/agent-release.yml
  docs/agent/RELEASE_NOTES_1.24.0.md
  docs/agent/RELEASE_READINESS.md
  scripts/package_agent_release.py
  scripts/wait_for_release_ci.py
  tests/test_release_artifact_handoffs.py
  tests/test_release_ci_gate.py
Due: update-actions, py-compile

Path conditions:
  update-actions: any of: ^\.github/workflows/
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
