Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 0bacb757cb8aaef5ac6603fe129a42ad78d99956
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

chore: update backend lock
  alpha_factory_v1/backend/requirements-lock.txt
Due: none

chore: refresh lock files
  requirements-demo.lock
  requirements-dev.lock
  requirements.lock
Due: none

chore: align Flask version
  alpha_factory_v1/backend/requirements.txt
  alpha_factory_v1/requirements-core.txt
  requirements.lock
Due: none

fix: handle optional packages in preflight
  alpha_factory_v1/scripts/preflight.py
  alpha_factory_v1/tests/test_preflight.py
  tests/test_preflight_optional_missing.py
Due: py-compile

ci: update smoke jobs
  .github/workflows/ci.yml
Due: none

chore: use python 3.13-slim in Dockerfiles
  Dockerfile
  alpha_factory_v1/Dockerfile
Due: none

[alpha_factory] fix ci compatibility
  .github/workflows/smoke.yml
  alpha_factory_v1/backend/requirements-lock.txt
  alpha_factory_v1/scripts/preflight.py
  requirements-dev.lock
  requirements.lock
Due: py-compile

fix: update python matrix and optional checks
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/smoke.yml
  alpha_factory_v1/requirements.lock
  alpha_factory_v1/scripts/preflight.py
Due: py-compile

fix: align dependency versions and update locks
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.in
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.lock
  alpha_factory_v1/demos/alpha_agi_insight_v1/requirements.txt
  alpha_factory_v1/requirements-colab.txt
  requirements-dev.lock
  requirements.lock
Due: none

fix: warn on newer python
  alpha_factory_v1/scripts/preflight.py
Due: py-compile

docs: clarify supported Python versions
  CONTRIBUTING.md
Due: none

chore: update Docker bases
  Dockerfile
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/demos/alpha_agi_insight_v1/infrastructure/Dockerfile
  alpha_factory_v1/docker-compose.override.yml
  docker/quickstart/Dockerfile
  infrastructure/Dockerfile
  sandbox.Dockerfile
Due: none

docs: update python 3.14 docker notes
  docs/CHANGELOG.md
  docs/quickstart.md
Due: none

fix(ci): specify Python 3.14 pre-release
  .github/workflows/ci.yml
Due: none

build: update ortools and lock files
  alpha_factory_v1/backend/requirements-lock.txt
  alpha_factory_v1/backend/requirements.txt
  requirements.lock
Due: none

ci: drop rc Python from matrix
  .github/workflows/ci.yml
Due: none

fix: update base images to python 3.13
  Dockerfile
  infrastructure/Dockerfile
Due: none

ci: build insight before asset check
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
Due: none

docs: sync Dockerfiles with CI Python version
  Dockerfile
  README.md
  infrastructure/Dockerfile
Due: none

chore: bump ortools requirement
  alpha_factory_v1/requirements.txt
Due: none

fix: compute Insight bundle SRI after bundling
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: eslint-insight-browser

docs: sync python version requirements
  AGENTS.md
  README.md
  docs/CHANGELOG.md
  docs/CI_WORKFLOW.md
  docs/HOSTING_INSTRUCTIONS.md
  docs/WINDOWS_SETUP.md
  docs/demos/alpha_asi_world_model.md
  docs/demos/era_of_experience.md
  docs/demos/solving_agi_governance.md
  docs/quickstart.md
Due: none

docs: add CI sprint plan
  docs/CI_SPRINT_PLAN.md
Due: none

docs: update CI sprint plan
  docs/CI_SPRINT_PLAN.md
Due: none

fix: update Insight browser hash
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/index.html
Due: none

test: verify docs insight bundle hash
  scripts/verify_insight_bundle_hash.py
  tests/test_docs_bundle_hash.py
Due: py-compile

build: use python 3.13 in dockerfiles
  alpha_factory_v1/Dockerfile
  docker/quickstart/Dockerfile
  sandbox.Dockerfile
Due: none

fix: update version checks
  alpha_factory_v1/scripts/preflight.py
  scripts/setup_env.sh
Due: py-compile

docs: fix base image comment
  alpha_factory_v1/Dockerfile
Due: none

fix: update CI Python matrix and docs integrity
  .github/workflows/build-and-test.yml
  .github/workflows/smoke.yml
  docs/alpha_agi_insight_v1/index.html
Due: none

docs: add insight bundle
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/insight.bundle.js
Due: none

ci: verify insight SRI
  .github/workflows/ci.yml
  scripts/check_insight_sri.py
Due: py-compile

fix: update service worker hash
  docs/alpha_agi_insight_v1/index.html
Due: none

build: update ortools to 9.14
  Dockerfile
  alpha_factory_v1/backend/requirements.txt
Due: none

docs: refresh insight bundle hash
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
Due: none

docker: align base image with CI
  Dockerfile
  infrastructure/Dockerfile
Due: none

ci: ensure downstream jobs always run
  .github/workflows/ci.yml
Due: none

ci: verify insight SRI during docs build
  .github/workflows/ci.yml
Due: none

ci: consolidate SRI check
  .github/workflows/ci.yml
Due: none

chore: merge insight bundle checks
  .github/workflows/ci.yml
  docs/DEPLOYMENT_QUICKSTART.md
  docs/HOSTING_INSTRUCTIONS.md
  scripts/check_insight_sri.py
  scripts/verify_insight_bundle_hash.py
Due: py-compile
