Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 2bbd0a55b3655b26991c936b92e0c0f6d6f4fa94
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: no-binary-diff
        name: Block binary diffs
        entry: python scripts/check_no_binary_diff.py
        language: python
        pass_filenames: false
      - id: update-actions
        name: Update workflow action versions
        entry: python tools/update_actions.py
        language: system
        files: ^\.github/workflows/
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

chore: add disk cleanup helper
  scripts/cleanup_disk_space.py
Due: py-compile

fix: reclaim disk before Playwright installs
  .github/workflows/ci.yml
Due: update-actions

fix: stabilize CI docs and checkpoints
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  mkdocs.yml
  scripts/build_insight_docs.sh
  scripts/check_ci_status.py
Due: py-compile

fix: harden CI defaults for docs and sandbox
  .github/workflows/ci.yml
  alpha_factory_v1/core/utils/secure_run.py
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/API.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/CHANGELOG.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/DESIGN.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/bus_tls.md
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  scripts/check_ci_status.py
Due: update-actions, py-compile

fix: expand disk cleanup targets
  scripts/ci_free_disk.sh
  scripts/cleanup_disk_space.py
Due: py-compile

fix: stabilize patcher CLI and free disk cache
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  scripts/ci_free_disk.sh
Due: py-compile

fix: improve CI disk cleanup
  scripts/ci_free_disk.sh
Due: none

fix: extend CI disk cleanup
  scripts/ci_free_disk.sh
Due: none

fix: correct insight doc disclaimer links
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/API.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/CHANGELOG.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/DESIGN.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/bus_tls.md
Due: none

fix: align insight docs disclaimer paths
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/CHANGELOG.md
  docs/alpha_agi_insight_v1/docs/DESIGN.md
  docs/alpha_agi_insight_v1/docs/README.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
Due: none

fix: align insight doc links for mkdocs
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/API.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/CHANGELOG.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/DESIGN.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/bus_tls.md
  scripts/ci_free_disk.sh
Due: none

fix: extend disk cleanup targets
  .gitignore
  scripts/cleanup_disk_space.py
Due: py-compile

fix: keep test artifacts in temp storage
  alpha_factory_v1/core/archive/hash_archive.py
  alpha_factory_v1/demos/meta_agentic_agi_v2/meta_agentic_agi_demo_v2.py
  tests/conftest.py
Due: py-compile

fix: free disk space in PR CI
  .github/workflows/pr-ci.yml
Due: update-actions

fix: clean up test node modules
  tests/conftest.py
Due: py-compile

chore: add clean-disk make target
  Makefile
Due: none

fix: expand disk cleanup targets
  scripts/ci_free_disk.sh
  scripts/cleanup_disk_space.py
  tests/conftest.py
Due: py-compile

docs: fix insight disclaimer links
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  docs/alpha_agi_insight_v1/docs/README.md
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/CHANGELOG.md
  docs/alpha_agi_insight_v1/docs/DESIGN.md
  docs/alpha_agi_insight_v1/docs/README.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

fix: stabilize prompt sampling and disk cleanup
  alpha_factory_v1/core/agents/prompt_sampler.py
  alpha_factory_v1/core/simulation/selector.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/codegen_agent.py
  scripts/cleanup_disk_space.py
  tests/conftest.py
Due: py-compile

fix: stabilize insight assets and tests
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/core/utils/secure_run.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_assets_replaced.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/conftest.py
  tests/test_docker_health.py
  tests/test_insight_orchestrator_features.py
  tests/test_no_network.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: refresh insight docs assets
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/API.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/CHANGELOG.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/DESIGN.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: update-actions

fix: stabilize insight assets and CI checks
  .github/workflows/build-insight-bundle.yml
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/backend/utils/llm_provider.py
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/core/utils/secure_run.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/docs/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_insight_orchestrator_features.py
  tests/test_no_network.py
Due: update-actions, py-compile, eslint-insight-browser

test: guard pwa update test on node version
  tests/test_pwa_update_reload.py
Due: py-compile

fix: stabilize insight build and safety agent
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/index.html
  scripts/cleanup_disk_space.py
Due: py-compile

docs: update ENS schema references
  README.md
  WHITEPAPER.md
  alpha_factory_v1/README.md
  alpha_factory_v1/backend/agents/README.md
  alpha_factory_v1/demos/alpha_agi_business_2_v1/README.md
  alpha_factory_v1/demos/alpha_agi_business_3_v1/README.md
  alpha_factory_v1/demos/alpha_agi_business_v1/README.md
  alpha_factory_v1/demos/alpha_agi_marketplace_v1/README.md
  alpha_factory_v1/demos/meta_agentic_agi_v3/businesses/royalty_radar.md
  alpha_factory_v1/demos/meta_agentic_agi_v3/businesses/royalty_radar.py
  alpha_factory_v1/docs/alpha_agi_agent.md
  alpha_factory_v1/docs/alpha_agi_business.md
  docs/AGIALPHA_Future_Prediction_v0_Whitepaper_v0.md
  docs/demos/alpha_agi_business_2_v1.md
  docs/demos/alpha_agi_business_3_v1.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  whitepaper_v0.1.0-alphav15.tex
Due: py-compile

docs: skip insight LLM assets in docs build
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  scripts/build_insight_docs.sh
Due: none

fix: skip GPT-2 fetches in CI
  alpha_factory_v1/demos/alpha_agi_insight_v1/README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  scripts/fetch_assets.py
Due: py-compile

feat: reduce pyodide bundle duplication
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/env_inject.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/wasm/bridge.ts
Due: py-compile, eslint-insight-browser

docs: skip GPT-2 fetch in CI by default
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  scripts/fetch_assets.py
Due: py-compile

fix: default insight browser LLM to distilgpt2
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  scripts/download_hf_gpt2.py
  scripts/fetch_assets.py
Due: py-compile

fix: skip gpt2 download in ci by default
  README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/README.md
  scripts/fetch_assets.py
Due: py-compile

fix: align required checks with CI
  scripts/required_checks.json
  scripts/verify_branch_protection.py
Due: py-compile

fix: soften branch protection checks without admin token
  .github/workflows/ci.yml
  scripts/verify_branch_protection.py
Due: update-actions, py-compile

fix: soften branch protection verification
  .github/workflows/ci.yml
  scripts/verify_branch_protection.py
Due: update-actions, py-compile

fix: tighten async server shutdown for tests
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/services/api_server_service.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  tests/test_api_server_service.py
  tests/test_bus_large_payloads_property.py
  tests/test_scheduler.py
  tests/test_solution_archive.py
Due: py-compile

fix: clean up test clients and orchestrator startup
  alpha_factory_v1/core/archive/solution_archive.py
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  tests/test_aiga_service.py
  tests/test_api_rate_limit.py
  tests/test_api_server.py
  tests/test_api_server_static.py
  tests/test_backend_orchestrator_dev.py
  tests/test_bus_large_payloads_property.py
  tests/test_critics.py
  tests/test_insight_api_server.py
  tests/test_insight_endpoint.py
  tests/test_insight_health.py
  tests/test_metrics_exposure.py
  tests/test_metrics_router.py
  tests/test_orchestrator_rest.py
  tests/test_skill_test_route.py
  tests/test_web_app.py
  tests/test_world_model_demo.py
Due: py-compile
