Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

update-actions:
  name: Update workflow action versions
  entry: python tools/update_actions.py
  language: system
  pass_filenames: false

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

fix: restore ci bootstrap/test contracts and docs readiness
  alpha_factory_v1/backend/agents/biotech_agent.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/assets/d3.v7.min.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/era_of_experience/reward_backends/novel_solution_reward.py
  alpha_factory_v1/demos/macro_sentinel/data_feeds.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  tests/repo_healer_v1/test_triage_engine.py
  tests/test_insight_orchestrator_features.py
  tests/test_integrity.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: constrain merge-surface Ruff target scope
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
  scripts/ruff_targets.py
  tests/test_ruff_targets.py
Due: update-actions, py-compile

fix: stabilize flaky CI checks and path handling
  scripts/verify_insight_offline.py
  tests/test_agents.py
  tests/test_docker_health.py
  tests/test_insight_orchestrator_features.py
  tests/test_memeplex_ts.py
  tests/test_no_network.py
  tests/test_sw_integrity.py
  tests/test_workbox_integrity.py
Due: py-compile

fix: resolve gradio loop and CSP origin regressions
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

fix: keep AIGA/Gradio on one loop and restore CSP connect-src origins
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

fix: stop/reset gradio thread on app shutdown
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
Due: py-compile

fix: stop and reset gradio thread on app shutdown
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

fix: add per-process lock for gradio startup
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
Due: py-compile

fix: harden sandbox output parsing and demo page readiness checks
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/codegen_agent.py
  scripts/verify_demo_pages.py
Due: py-compile

fix: address review comments for sandbox and readiness fallback
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/codegen_agent.py
  scripts/verify_demo_pages.py
Due: py-compile

fix: preserve empty sandbox outputs and tighten pageerror allowlist
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/codegen_agent.py
  scripts/verify_demo_pages.py
Due: py-compile

fix: harden insight demo readiness and integrity checks
  scripts/verify_demo_pages.py
  tests/test_sw_integrity.py
  tests/test_workbox_integrity.py
Due: py-compile

fix: address insight verifier and integrity test review feedback
  scripts/verify_demo_pages.py
  tests/test_sw_integrity.py
  tests/test_workbox_integrity.py
Due: py-compile

fix: keep NaN TypeErrors fatal in demo page verification
  scripts/verify_demo_pages.py
Due: py-compile

fix: resolve lint and preview asset errors
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  tests/test_ci_ruff_scope_contract.py
Due: update-actions, py-compile

fix: add missing mirrored preview asset for insight demo
  docs/alpha_agi_insight_v1/assets/preview.svg
Due: none

fix: unblock insight demo offline readiness
  docs/alpha_agi_insight_v1/bootstrap.js
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: preserve sw hash marker and stabilize insight readiness
  docs/alpha_agi_insight_v1/bootstrap.js
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_demo_pages.py
Due: py-compile

fix: align insight CSP with sha384 hash policy
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: use sha384 csp hashes for insight inline scripts
  docs/alpha_agi_insight_v1/bootstrap.js
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_demo_pages.py
Due: py-compile

fix: sync insight source template with bootstrap and scoped verifier
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/bootstrap.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  scripts/verify_demo_pages.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/bootstrap.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: mirror insight template hardening and tighten verifier
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/bootstrap.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/bootstrap.js
  docs/alpha_agi_insight_v1/index.html
  scripts/ensure_insight_csp.py
Due: py-compile, eslint-insight-browser

fix: stabilize insight docs and integrity contracts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_demo_pages.py
  tests/test_docs_service_worker_present.py
  tests/test_integrity.py
Due: py-compile

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: add missing insight demo preview asset
  docs/alpha_agi_insight_v1/assets/preview.svg
Due: none

fix: restore mirrored insight demo preview asset
  docs/alpha_agi_insight_v1/assets/preview.svg
Due: none

fix: avoid CSP-blocked iframe worker bootstrap
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/sandbox.ts
Due: none

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/insight.bundle.js
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/style.css
Due: none

fix: unblock insight offline smoke checks
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_insight_offline.py
Due: py-compile

fix: resolve insight CSP and sandbox worker origin errors
  alpha_factory_v1/core/interface/web_client/src/utils/sandbox.ts
  docs/alpha_agi_insight_v1/index.html
  scripts/ensure_insight_sw_hash.py
Due: py-compile

fix: ship sandbox worker host with web client
  alpha_factory_v1/core/interface/web_client/dist/sandbox_worker_host.html
  alpha_factory_v1/core/interface/web_client/dist/sandbox_worker_host.js
  alpha_factory_v1/core/interface/web_client/public/sandbox_worker_host.html
  alpha_factory_v1/core/interface/web_client/public/sandbox_worker_host.js
Due: none

fix: ignore sandboxed worker errors in demo readiness
  scripts/verify_demo_pages.py
Due: py-compile

fix: stabilize insight demo readiness verification
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_demo_pages.py
Due: py-compile

fix: narrow insight origin-null error suppression
  scripts/verify_demo_pages.py
Due: py-compile

fix: narrow origin-null insight error filtering
  docs/alpha_agi_insight_v1/index.html
  scripts/verify_demo_pages.py
Due: py-compile

fix: keep sandbox worker constructor errors non-ignorable
  scripts/verify_demo_pages.py
Due: py-compile

Path conditions:
  update-actions: any of: ^\.github/workflows/
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
