Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 2bbd0a55b3655b26991c936b92e0c0f6d6f4fa94
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: no-binary-diff
        name: Block binary diffs
        entry: python scripts/check_no_binary_diff.py
        language: python
        pass_filenames: false
      - id: update-actions
        name: Update workflow action versions
        entry: python tools/update_actions.py
        language: system
        files: ^\.github/workflows/
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

Retain the verified complete browser dependency audit with release evidence
  docs/agent/VALIDATION.md
  docs/agent/release-evidence/browser-dependencies.json
Due: none

fix(ci): install locked Chromium before Insight integration tests
  .github/workflows/ci.yml
Due: update-actions

ci: stop the blocked pre-fix release run without bypassing corrected-main gates
  .github/workflows/cancel-blocked-130.yml
Due: update-actions

docs: verify public v1.3.0 evidence and link release installation and recovery
  .github/workflows/verify-public-release-130.yml
Due: update-actions

ci: refresh real released-commit health and verify public badge status
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

ci: verify alternate live badge provider against passing main checks
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

fix: keep CI badges live, scoped and backed by complete checks
  .github/workflows/ci-health.yml
  .github/workflows/smoke.yml
  README.md
  alpha_factory_v1/demos/alpha_agi_business_v1/README.md
  alpha_factory_v1/demos/alpha_agi_marketplace_v1/README.md
  docs/CHANGELOG.md
  docs/CI_STATUS.md
  docs/agent/CAPABILITIES.md
  docs/agent/VALIDATION.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  scripts/check_agent_preservation.py
  scripts/package_agent_release.py
  tests/test_readme_preservation.py
Due: update-actions, py-compile

fix: derive integration badge from the complete main validation matrix
  .github/workflows/ci.yml
  README.md
  alpha_factory_v1/demos/alpha_agi_business_v1/README.md
  alpha_factory_v1/demos/alpha_agi_marketplace_v1/README.md
  docs/CHANGELOG.md
  docs/CI_STATUS.md
  docs/agent/CAPABILITIES.md
  docs/agent/VALIDATION.md
  docs/demos/alpha_agi_business_v1.md
  docs/demos/alpha_agi_marketplace_v1.md
  scripts/check_agent_preservation.py
  tests/test_ci_badge_policy.py
Due: update-actions, py-compile

Verify public main badges and immutable v1.3.0 after complete CI
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Inspect existing Pages configuration and public response
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

fix: reproduce the lightweight Insight documentation cache
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
Due: none

chore: verify Pages enablement through the existing repository connection
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

fix: unify Pages publishing and isolate legacy REST fixture
  .github/workflows/agent-release.yml
  .github/workflows/docs.yml
  AGENTS.md
  docs/HOSTING_INSTRUCTIONS.md
  docs/agent/PAGES_GUIDE.md
  docs/agent/RELEASE_NOTES_1.4.0.md
  tests/test_orchestrator_rest.py
Due: update-actions, py-compile

fix: preserve owner authorization for manual Pages publishing
  .github/workflows/docs.yml
Due: update-actions

Verify live v1.4.0 Pages, release checksums and truthful badges
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

fix: make native demo requirements indexable by GitHub
  docs/agent/DEMO_VALIDATION.md
  requirements-demo-verified.in
  requirements-demo-verified.lock
Due: none

Hold v1.5 publication while correcting the generated Insight navigation mismatch
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

fix: make Insight navigation and paper assets reproducible
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
  mkdocs.yml
  scripts/mkdocs_assets.py
Due: py-compile

Verify Ascension 1.5.0 publication, live badges and preserved releases
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

[alpha_factory] Harden dependency, CI and publication controls for 1.5.1
  .github/workflows/agent-release.yml
  .github/workflows/ci-health.yml
  README.md
  SECURITY.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  docs/CI_ENFORCEMENT.md
  docs/CI_STATUS.md
  docs/CI_WORKFLOW.md
  docs/agent/CAPABILITIES.md
  docs/agent/OPERATIONS.md
  docs/agent/PAGES_GUIDE.md
  docs/agent/RELEASE_NOTES_1.5.1.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/ascension/index.html
  docs/assets/service-worker.js
  docs/index.html
  docs/service-worker.js
  mkdocs.yml
  pyproject.toml
  requirements-agent.lock
  requirements-demo-verified.lock
  scripts/audit_agent_dependencies.py
  scripts/check_ci_status.py
  scripts/package_agent_release.py
  scripts/publish_agent_release.py
  scripts/release_context.py
  scripts/required_checks.json
  scripts/verify_branch_protection.py
  tests/test_agent_dependency_audit.py
  tests/test_check_ci_status.py
  tests/test_release_publication.py
  tests/test_verify_branch_protection.py
Due: update-actions, py-compile

[alpha_factory] Align legacy protection test fixture with actual check names
  tests/test_verify_branch_protection_defaults.py
Due: py-compile

[alpha_factory] Export watchdog context with one ShellCheck-clean write
  .github/workflows/ci-health.yml
Due: update-actions

[alpha_factory] Bound CI remediation to the current commit and one automatic retry
  docs/CI_STATUS.md
  docs/agent/RELEASE_NOTES_1.5.1.md
  scripts/check_ci_status.py
  tests/test_check_ci_status.py
Due: py-compile

Stop only the superseded 1.5.1 candidate before final acceptance
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Remove temporary workflow write access after superseded candidate cancellation
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Release the superseded integration concurrency slot for final 1.5.1 validation
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Restore read-only checkpoint after stopping the superseded integration run
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Independently verify v1.5.1 public Pages, badges, audited assets and preserved releases
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

[alpha_factory] Report the latest CI Health workflow and prepare 1.5.2
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  docs/CI_STATUS.md
  docs/agent/CAPABILITIES.md
  docs/agent/OPERATIONS.md
  docs/agent/RELEASE_NOTES_1.5.2.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  mkdocs.yml
  pyproject.toml
Due: py-compile

Regenerate and check the 1.5.2 badge follow-up on its isolated branch
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

[alpha_factory] Retain the generated Ascension mirror referenced by offline caches
  docs/alpha_factory_v1/demos/ascension/index.html
Due: none

Restore read-only access and verify the committed 1.5.2 offline asset set
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Preserve failed model-run diagnostics before a fresh-runner retry
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Capture ANSI-bearing job logs as bytes without rendering them
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

Independently verify published 1.5.2 Pages, badges, audited dependencies and model evidence
  .github/workflows/refresh-released-health-130.yml
Due: update-actions

[alpha_factory] Build the connected Insight Atlas for 1.6.0
  .github/workflows/agent-release.yml
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  codex/setup.sh
  docs/agent/CAPABILITIES.md
  docs/agent/INSIGHT_ATLAS.md
  docs/agent/OPERATIONS.md
  docs/agent/PAGES_GUIDE.md
  docs/agent/RELEASE_NOTES_1.6.0.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/ascension/index.html
  docs/assets/insight/atlas.css
  docs/assets/insight/atlas.mjs
  docs/assets/insight/engine.mjs
  docs/assets/insight/home.css
  docs/assets/insight/scenarios.json
  docs/assets/service-worker.js
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  mkdocs.yml
  pyproject.toml
  scripts/finalize_pages_release.py
  scripts/generate_gallery_html.py
  scripts/package_agent_release.py
  scripts/templates/insight.html
  scripts/templates/portal.html
  scripts/validate_insight_atlas.py
  tests/browser/insight_engine.test.mjs
  tests/browser/package-lock.json
  tests/browser/package.json
  tests/test_release_publication.py
Due: update-actions, py-compile

[alpha_factory] Verify native Atlas handoff and reviewed design reuse
  docs/agent/INSIGHT_ATLAS.md
  docs/agent/RELEASE_NOTES_1.6.0.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/assets/insight/atlas.css
  docs/assets/insight/atlas.mjs
  docs/assets/service-worker.js
  docs/service-worker.js
  scripts/finalize_pages_release.py
  scripts/validate_insight_atlas.py
  tests/test_release_publication.py
Due: py-compile

[alpha_factory] Release 1.6.0 Insight Atlas (#4725)
  .github/workflows/agent-release.yml
  README.md
  alpha_factory_v1/__init__.py
  alpha_factory_v1/demos/catalog.json
  codex/setup.sh
  docs/agent/CAPABILITIES.md
  docs/agent/INSIGHT_ATLAS.md
  docs/agent/OPERATIONS.md
  docs/agent/PAGES_GUIDE.md
  docs/agent/RELEASE_NOTES_1.6.0.md
  docs/agent/RELEASE_READINESS.md
  docs/agent/VALIDATION.md
  docs/alpha_factory_v1/demos/alpha_agi_insight_v1/service-worker.js
  docs/alpha_factory_v1/demos/ascension/index.html
  docs/alpha_factory_v1/demos/insight/index.html
  docs/ascension/index.html
  docs/assets/insight/atlas.css
  docs/assets/insight/atlas.mjs
  docs/assets/insight/engine.mjs
  docs/assets/insight/home.css
  docs/assets/insight/scenarios.json
  docs/assets/service-worker.js
  docs/index.html
  docs/insight/index.html
  docs/service-worker.js
  mkdocs.yml
  pyproject.toml
  scripts/finalize_pages_release.py
  scripts/generate_gallery_html.py
  scripts/package_agent_release.py
  scripts/templates/insight.html
  scripts/templates/portal.html
  scripts/validate_insight_atlas.py
  tests/browser/insight_engine.test.mjs
  tests/browser/package-lock.json
  tests/browser/package.json
  tests/test_release_publication.py
Due: update-actions, py-compile
