Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

fix: guard CI assets and insight build
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/size-check.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/app.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.sh
  scripts/fetch_assets.py
Due: py-compile, eslint-insight-browser

fix: cache insight assets in CI
  .github/actions/setup-insight-assets/action.yml
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  scripts/build_gallery_site.sh
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.py
  scripts/deploy_insight_demo.sh
  scripts/deploy_insight_full.sh
  scripts/gallery_sprint.sh
  scripts/publish_demo_gallery.py
  scripts/publish_demo_gallery.sh
  scripts/serve_gallery_dev.sh
Due: py-compile, eslint-insight-browser

fix: harden insight docs build pipeline
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/render/frontier.ts
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  scripts/build_insight_docs.sh
  scripts/check_no_binary_diff.py
Due: py-compile, eslint-insight-browser

fix: stabilize demo scripts and tests
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/base_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_orchestrator_backoff.py
  tests/test_web_app.py
Due: py-compile

fix: harden patching and demo safeguards
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/agents/policy_agent.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/evaluators/novelty.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/era_of_experience/reward_backends/novel_solution_reward.py
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_web_app.py
Due: py-compile

fix: allow adk adapter in tests
  alpha_factory_v1/core/agents/base_agent.py
Due: py-compile

fix: harden optional deps and patch normalization
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/utils/llm_provider.py
  alpha_factory_v1/core/agents/base_agent.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/conftest.py
  tests/test_aiga_bridge_no_agents.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
Due: py-compile

fix: harden agents and self-heal flows
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/biotech_agent.py
  alpha_factory_v1/backend/agents/policy_agent.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/base_agent.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/utils/patch_guard.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/conftest.py
  tests/test_safety_guardian_property.py
Due: py-compile

fix: stabilize CI agents and demos
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/biotech_agent.py
  alpha_factory_v1/backend/agents/health.py
  alpha_factory_v1/backend/agents/policy_agent.py
  alpha_factory_v1/backend/agents/talent_match_agent.py
  alpha_factory_v1/backend/orchestrator.py
  alpha_factory_v1/common/utils/config.py
  alpha_factory_v1/core/utils/config.py
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/utils/config_common.py
  tests/conftest.py
  tests/test_browser_ui.py
  tests/test_evolution_panel_reload.py
  tests/test_install_button.py
  tests/test_openai_bridge.py
  tests/test_pwa_offline.py
  tests/test_pwa_update_reload.py
  tests/test_quickstart_offline.py
  tests/test_simulator_loader.py
  tests/test_sw_integrity.py
  tests/test_sw_offline_reload.py
  tests/test_umap_fallback.py
  tests/test_wasm_base64.py
  tests/test_workbox_integrity.py
  tests/test_world_model_safety.py
Due: py-compile

fix: stabilize aiga demo and agent manager
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/aiga_meta_evolution/utils.py
  pyproject.toml
Due: py-compile

fix: stabilize CI workflows and agent health
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/health.py
  alpha_factory_v1/backend/agents/registry.py
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/aiga_meta_evolution/utils.py
  scripts/fetch_assets.py
Due: py-compile

fix: address workflow envs and cache cleanup
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/backend/__init__.py
  scripts/fetch_assets.py
Due: py-compile

fix: stabilize aiga meta evolver imports
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
Due: py-compile

fix: stabilize demo startup paths
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
Due: py-compile

fix: stabilize aiga metrics and demo tests
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  tests/test_cross_industry_patch.py
Due: py-compile

fix: stabilize AIGA demo bootstrap
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
Due: py-compile

fix: reuse existing aiga metrics
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
Due: py-compile

fix: reuse prometheus metrics safely
  alpha_factory_v1/demos/aiga_meta_evolution/agent_aiga_entrypoint.py
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
Due: py-compile

fix: stabilize CI temp paths and selection
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/core/simulation/selector.py
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
Due: py-compile

fix: restore workflow temp paths and metrics registry
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
Due: py-compile

fix: stabilize workflow env paths
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
Due: py-compile

fix: skip placeholder check for vocab asset
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: eslint-insight-browser

fix: limit placeholder scans for insight assets
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

fix: skip wasm_llm placeholders when LLM assets are skipped
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: eslint-insight-browser

fix: skip llm placeholder checks when assets disabled
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

fix: skip wasm_llm assets when LLM downloads are disabled
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: eslint-insight-browser

fix: skip missing wasm_llm assets when LLM downloads are disabled
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

fix: skip missing wasm_llm assets when LLM fetch is disabled
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

Add files via upload
  docs/presentation/MONTREALAI_x_ERC8004_v0.pdf
  docs/presentation/MONTREALAI_x_ERC8004_v0.pptx
Due: none

fix: treat web3 bundle as external during build
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: eslint-insight-browser

fix: sync fetched assets for Insight Browser build
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/aiga_meta_evolution/meta_evolver.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: py-compile, eslint-insight-browser

fix: add insight v1 service worker
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: add insight docs service worker assets
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: update Insight docs CSP hashes
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: stabilize self-edit replace and safety property test
  alpha_factory_v1/core/self_edit/tools.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_safety_guardian_property.py
Due: py-compile

fix: align insight service worker and csp
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: refresh insight CSP hashes
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
