Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: v1.61.0
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib|wasm)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

docs: explain artifact upload conditions
  docs/CI_WORKFLOW.md
Due: none

ci: fail non-owner runs
  .github/workflows/ci.yml
Due: none

docs: update CI workflow guidance
  docs/CI_WORKFLOW.md
Due: none

ci: inline owner check steps
  .github/workflows/ci.yml
Due: none

ci: add owner-check job and clean steps
  .github/workflows/ci.yml
Due: none

fix: robust owner check and browserslist updates
  .github/workflows/ci.yml
Due: none

fix: use working dir for browserslist update
  .github/workflows/ci.yml
Due: none

fix: run browserslist update with npx --yes
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/size-check.yml
  scripts/build_insight_docs.sh
Due: none

ci: install browserslist updater
  .github/workflows/ci.yml
Due: none

fix: run windows web build in bash
  .github/workflows/ci.yml
Due: none

ci: use ensure-owner action
  .github/workflows/ci.yml
Due: none

chore: pin python images
  Dockerfile
  alpha_factory_v1/demos/alpha_agi_insight_v1/infrastructure/Dockerfile
Due: none

build: add dev lock and update CI
  .github/workflows/ci.yml
  requirements-dev.lock
Due: none

ci: pin browserslist update version
  .github/workflows/ci.yml
  README.md
  docs/CI_WORKFLOW.md
Due: none

ci: sign docker image and artifacts
  .github/workflows/ci.yml
Due: none

test: increase coverage
  .github/workflows/ci.yml
  tests/test_agent_runner_utils.py
  tests/test_portfolio_basic.py
  tests/test_trace_hub.py
Due: py-compile

ci: pin cosign installer revisions
  .github/workflows/ci.yml
Due: none

fix: ensure browserslist updates across scripts
  .github/workflows/size-check.yml
  scripts/build_insight_docs.sh
Due: none

[alpha_factory] chore: add macOS smoke job
  .github/workflows/ci.yml
Due: none

[alpha_factory] chore: pin browserslist db version
  .github/workflows/ci.yml
Due: none

fix: add bash shell for windows cache step
  .github/workflows/ci.yml
Due: none

fix: ensure bash shell for mac build
  .github/workflows/ci.yml
Due: none

fix: update docs workflow browserslist step
  .github/workflows/docs.yml
Due: none

docs: add cosign verification
  README.md
Due: none

test: switch browser tests to esm
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/archive.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/cluster.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/consilience.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/evaluator_genome.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/gpu_flag.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/i18n_fallback.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/keyval.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/limits.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/locale_parity.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/meme_usage.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/mutate_scaling.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/power_panel_update.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/replaydb.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/simulator.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/taxonomy.test.js
  tests/gpu_flag.test.js
Due: eslint-insight-browser

test: migrate gpu flag worker test
  tests/gpu_flag.test.js
Due: none

fix: enable ts-node esm loader for browser tests
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/run.mjs
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tsconfig.json
Due: eslint-insight-browser

chore: install Playwright browsers in CI
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
Due: none

fix: preserve SKIP_WEBKIT_TESTS after Playwright failures
  .github/workflows/ci.yml
  README.md
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/test_tree_visualization.py
  tests/README.md
Due: py-compile

test: stabilize agent tests
  tests/test_agent_experience_entrypoint.py
  tests/test_agent_manager_consumer.py
  tests/test_agent_runner.py
Due: py-compile

fix: use ts-node esm loader for browser tests
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/run.mjs
Due: eslint-insight-browser

fix: stabilize browser tests and run jobs always
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/locale_parity.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/run.mjs
  tests/gpu_flag.test.js
Due: eslint-insight-browser

fix: update browser test runner
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/run.mjs
Due: eslint-insight-browser

fix: skip flaky browser tests
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/entropy.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/error_boundary_limit.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/iframe_worker_cleanup.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/locale_parity.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/onnx_gpu_backend.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/replay_cid.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/run.mjs
Due: eslint-insight-browser

fix: stabilize browser tests
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/run.mjs
Due: eslint-insight-browser

fix: stabilize CI jobs and lint issues
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/archive.test.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/locale_parity.test.js
  tests/test_agent_experience_entrypoint.py
  tests/test_agent_manager_consumer.py
Due: py-compile, eslint-insight-browser

ci: fix asset caching and lint config
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

ci: refine workflow and asset cache
  .github/workflows/ci.yml
Due: none

ci: fix docs asset restore
  .github/workflows/ci.yml
Due: none
