Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

Improve CI stability
  alpha_factory_v1/core/evaluators/novelty.py
  stubs/google_adk/__init__.py
Due: py-compile

fix: include macOS torch wheel hash
  requirements-cpu.lock
Due: none

chore: align CI matrix with supported Pythons
  .github/workflows/ci.yml
  README.md
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
Due: none

Fix smoke job dependency installation
  .github/workflows/ci.yml
Due: none

ci: harden dispatch inputs
  .github/workflows/ci.yml
Due: none

Ensure Playwright browsers installed for docs checks
  .github/workflows/ci.yml
  scripts/verify_demo_pages.py
Due: py-compile

chore: add fast CI status check mode
  README.md
  docs/CI_ENFORCEMENT.md
  scripts/check_ci_status.py
Due: py-compile

Fix torch pin for demo CPU lock
  requirements-demo-cpu.lock
Due: none

chore: harden ci watchdog cadence
  .github/workflows/ci-health.yml
  docs/CI_ENFORCEMENT.md
Due: none

ci: install portable lock on macOS and Windows
  .github/workflows/ci.yml
Due: none

ci: keep docs and docker jobs on python 3.12
  .github/workflows/ci.yml
Due: none

Fix quoting in CI rollback and security workflows
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Fix tokenizers pin and stabilize benchmark
  alpha_factory_v1/backend/requirements-lock.txt
  requirements-cpu.lock
  requirements-dev.lock
  requirements.lock
  tests/test_benchmark.py
Due: py-compile

fix: align tokenizers pin for transformers
  alpha_factory_v1/backend/requirements-lock.txt
  requirements-cpu.lock
  requirements-dev.lock
  requirements.lock
Due: none

Harden pre-commit fallback across workflows
  .github/workflows/bench.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-kind.yml
  .github/workflows/docs.yml
  .github/workflows/loadtest.yml
  .github/workflows/nightly-transfer.yml
  .github/workflows/security.yml
  .github/workflows/size-check.yml
  .github/workflows/smoke.yml
  alpha_factory_v1/core/utils/__init__.py
  scripts/check_ci_status.py
  tests/test_agent_logging.py
  tools/update_actions.py
Due: py-compile

ci: grant docker job permissions for signing
  .github/workflows/ci.yml
Due: none

ci: quote docker hub tags
  .github/workflows/security.yml
Due: none

chore: pin ci actions to shas
  .github/workflows/ci.yml
Due: none

fix: use CPU lockfiles for cross-platform smoke tests
  .github/workflows/ci.yml
Due: none

fix: guard docker checks on non-linux CI runners
  .github/workflows/ci.yml
Due: none

Adjust smoke jobs to PyTorch-supported Python
  .github/workflows/ci.yml
Due: none

chore: fix actionlint permissions
  .github/workflows/ci.yml
Due: none

fix: stabilize windows smoke dependencies
  requirements-demo-cpu.lock
  requirements-dev.lock
Due: none

chore: tighten ci health monitoring
  .github/workflows/ci-health.yml
  README.md
  docs/CI_ENFORCEMENT.md
Due: none

fix: pin torch for cross-version ci
  requirements-demo-cpu.lock
  requirements-demo.lock
  requirements-demo.txt
Due: none

chore: pin CI actions to released versions
  .github/workflows/ci.yml
Due: none

Improve CI action pins and ESLint hook stability
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/eslint.config.js
  scripts/run_eslint.sh
Due: eslint-insight-browser

chore: improve CI status token handling
  docs/CI_ENFORCEMENT.md
  scripts/check_ci_status.py
Due: py-compile

Run black on check_ci_status
  scripts/check_ci_status.py
Due: py-compile

ci: pin supported action versions
  .github/workflows/ci.yml
Due: none

fix: ensure pip cache directories exist in CI
  .github/workflows/ci.yml
Due: none

Add branch protection verification to CI health
  .github/workflows/ci-health.yml
  README.md
  docs/CI_ENFORCEMENT.md
  scripts/verify_branch_protection.py
Due: py-compile

fix: remove unsupported ci-health permission
  .github/workflows/ci-health.yml
Due: none

chore: unblock branch protection verification
  .github/workflows/ci-health.yml
  docs/CI_ENFORCEMENT.md
Due: none

chore: bump cache action version
  .github/workflows/ci.yml
Due: none

ci: enforce branch protections from CI
  .github/workflows/ci.yml
  README.md
Due: none

ci: update cache action version
  .github/workflows/ci.yml
Due: none

chore: tighten ci health remediation
  .github/workflows/ci-health.yml
  README.md
  docs/CI_ENFORCEMENT.md
Due: none

Fix Windows CI dependency constraints
  requirements-demo-cpu.lock
  requirements-dev.lock
Due: none

Path conditions:
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(^tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
