Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

update-actions:
  name: Update workflow action versions
  entry: python tools/update_actions.py
  language: system
  pass_filenames: false

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

Add files via upload
  docs/presentation/AGI_Alpha_RSI_Executive_Overview_v0.docx
  docs/presentation/AGI_Alpha_RSI_Executive_Overview_v0.pdf
Due: none

fix: restore insight demo docs assets
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_scheduler.py
Due: py-compile

fix: align insight assets and scheduler fallback
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.exports.js
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/d3_exports.js
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/wasm_llm.md
  tests/test_assets_replaced.py
  tests/test_scheduler.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

feat: expand d3 exports and normalize docker python
  alpha_factory_v1/core/utils/secure_run.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/d3.exports.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/d3_exports.js
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
  tests/test_scheduler.py
Due: py-compile, eslint-insight-browser

fix: harden REST memory lookup and tests
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/portfolio.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/archive/solution_archive.py
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  docs/alpha_agi_insight_v1/index.html
  tests/test_aiga_service.py
  tests/test_api_rate_limit.py
  tests/test_api_server.py
  tests/test_api_server_static.py
  tests/test_backend_orchestrator_dev.py
  tests/test_bus_large_payloads_property.py
  tests/test_critics.py
  tests/test_insight_api_server.py
  tests/test_insight_endpoint.py
  tests/test_insight_health.py
  tests/test_metrics_exposure.py
  tests/test_metrics_router.py
  tests/test_orchestrator_rest.py
  tests/test_skill_test_route.py
  tests/test_web_app.py
  tests/test_world_model_demo.py
Due: py-compile

fix: stabilize tests and docs assets
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_aiga_service.py
  tests/test_api_rate_limit.py
  tests/test_api_server.py
  tests/test_api_server_static.py
  tests/test_api_status.py
  tests/test_backend_orchestrator_dev.py
  tests/test_bus_large_payloads_property.py
  tests/test_critics.py
  tests/test_insight_api_server.py
  tests/test_insight_endpoint.py
  tests/test_insight_health.py
  tests/test_metrics_exposure.py
  tests/test_metrics_router.py
  tests/test_orchestrator_rest.py
  tests/test_skill_test_route.py
  tests/test_solution_archive.py
  tests/test_web_app.py
  tests/test_world_model_demo.py
Due: py-compile

Add files via upload
  docs/presentation/AGI_Alpha_RSI_Executive_Summary_v0.docx
  docs/presentation/AGI_Alpha_RSI_Executive_Summary_v0.pdf
  docs/presentation/AGI_Alpha_RSI_Move37_Breakthrough_Dossier_v0.docx
  docs/presentation/AGI_Alpha_RSI_Move37_Breakthrough_Dossier_v0.pdf
Due: none

fix: reduce bus fuzz payload sizes
  tests/test_bus_fuzz.py
Due: py-compile

fix: stabilize bus payload tests
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

test: stabilize bus handler scheduling
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

test: wait for bus handler completion
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

test: await bus handler delivery
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

test: bind bus delivery events to loop
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

test: use sync handlers in bus tests
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

test: cover async bus handlers
  tests/test_bus_fuzz.py
Due: py-compile

test: reduce bus fuzz payload sizes
  tests/test_bus_fuzz.py
Due: py-compile

fix: stabilize local LLM and api server tests
  alpha_factory_v1/common/utils/local_llm.py
  alpha_factory_v1/core/interface/api_server.py
  tests/conftest.py
  tests/test_bus_fuzz.py
  tests/test_insight_endpoint.py
  tests/test_local_llm_logging.py
Due: py-compile

fix: honor offline config for local LLMs
  alpha_factory_v1/common/utils/local_llm.py
  tests/conftest.py
  tests/test_local_llm_logging.py
Due: py-compile

fix: stabilize pytest environment
  alpha_factory_v1/backend/agents/manufacturing_agent.py
  alpha_factory_v1/common/utils/local_llm.py
  alpha_factory_v1/core/interface/api_server.py
  tests/conftest.py
  tests/test_bus_fuzz.py
  tests/test_insight_endpoint.py
  tests/test_local_llm_logging.py
  tests/test_metrics_exposure.py
  tests/test_metrics_router.py
Due: py-compile

fix: avoid thread leaks in world model demo
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
Due: py-compile

Add files via upload
  docs/presentation/AGI_Alpha_RSI_Sovereign_Current_Status_Snapshot_Presentation_v1.pdf
  docs/presentation/AGI_Alpha_RSI_Sovereign_Current_Status_Snapshot_Presentation_v1.pptx
Due: none

fix: reduce world model test threading
  alpha_factory_v1/backend/agents/manufacturing_agent.py
  alpha_factory_v1/common/utils/local_llm.py
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  tests/conftest.py
  tests/test_bus_fuzz.py
  tests/test_insight_endpoint.py
  tests/test_local_llm_logging.py
  tests/test_metrics_exposure.py
  tests/test_metrics_router.py
Due: py-compile

fix: avoid test-time world model thread leaks
  alpha_factory_v1/backend/agents/manufacturing_agent.py
  alpha_factory_v1/common/utils/local_llm.py
  alpha_factory_v1/core/interface/api_server.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  tests/conftest.py
  tests/test_bus_fuzz.py
  tests/test_insight_endpoint.py
  tests/test_local_llm_logging.py
  tests/test_metrics_exposure.py
  tests/test_metrics_router.py
Due: py-compile

fix: scope world model test stubs to pytest
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
Due: py-compile

fix: bound hypothesis text strategies
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

fix: bound hypothesis alphabets in bus tests
  tests/test_bus_fuzz.py
  tests/test_bus_large_payloads_property.py
Due: py-compile

fix: bound bus fuzz inputs
  tests/test_bus_fuzz.py
Due: py-compile

fix: constrain bus fuzz text alphabet
  tests/test_bus_fuzz.py
Due: py-compile

fix: stabilize bus fuzz text generation
  tests/test_bus_fuzz.py
Due: py-compile

fix: avoid cp-sat in pytest and set API token
  alpha_factory_v1/backend/agents/manufacturing_agent.py
  tests/test_web_app.py
Due: py-compile

Add files via upload
  docs/presentation/AGI_Alpha_RSI_Sovereign_Strategy_Brief_v0.docx
  docs/presentation/AGI_Alpha_RSI_Sovereign_Strategy_Brief_v0.pdf
Due: none

fix: reduce thread usage in tests
  alpha_factory_v1/backend/portfolio.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  tests/conftest.py
Due: py-compile

fix: reduce world model demo thread usage
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
Due: py-compile

Add files via upload
  docs/presentation/AGI_Alpha_RSI_Sovereign_v0.pdf
  docs/presentation/AGI_Alpha_RSI_Sovereign_v0.pptx
Due: none

fix: stabilize world model demo threads under pytest
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
Due: py-compile

fix: simplify world model lifespan thread startup
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
Due: py-compile

Path conditions:
  update-actions: any of: ^\.github/workflows/
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
