Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 0bacb757cb8aaef5ac6603fe129a42ad78d99956
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (^tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

ci: free additional disk space in tests
  .github/workflows/ci.yml
Due: none

ci: free more disk space
  .github/workflows/ci.yml
Due: none

fix: stabilize tests and wheel verification
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/registry.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/simulation/replay.py
  alpha_factory_v1/core/simulation/selector.py
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/state/serializer.js
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/solving_agi_governance/openai_agents_bridge.py
  tests/conftest.py
  tests/resources/dummy_agent.whl.sig
  tests/test_safety_guardian_fuzz.py
  tests/test_verify_wheel.py
Due: py-compile, eslint-insight-browser

Auto-generated updated insight.bundle.js
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/docs/API.md
  docs/alpha_agi_insight_v1/docs/bus_tls.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/wasm_llm.md
Due: none

ci: reclaim disk space before pytest
  .github/workflows/ci.yml
Due: none

fix: stabilize test helpers and runtime env reads
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/orchestrator.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  tests/test_replay_ts.py
  tests/test_simulator_init.py
  tests/test_taxonomy.py
Due: py-compile

ci: free disk space before pytest
  .github/workflows/ci.yml
Due: none

fix: clean node modules before pytest
  .github/workflows/ci.yml
Due: none

fix: align Insight demo CSP and assets
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: stabilize insight demo docs page
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: repair insight demo readiness
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/d3.exports.js
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: use local insight styles and refresh CSP
  .github/workflows/ci.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: improve replay data lookup and demo setup
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/core/simulation/replay.py
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
Due: py-compile

fix: stabilize demo utilities and tests
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/simulation/replay.py
  alpha_factory_v1/core/simulation/selector.py
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/evolve/mutate.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/simulator.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/state/serializer.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/pareto.ts
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_core/llm_client.py
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  alpha_factory_v1/demos/solving_agi_governance/openai_agents_bridge.py
  openai_agents/__init__.py
  src/replay.ts
  src/taxonomy.ts
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_simulator_init.py
  tests/test_web_app.py
Due: py-compile, eslint-insight-browser

fix: stabilize offline demos and test shims
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/agents/policy_agent.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/replay.ts
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/simulator.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/safety_agent.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/conftest.py
Due: py-compile

fix: stabilize tooling and demo flows
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/simulation/selector.py
  alpha_factory_v1/data/historic_scenarios/1994_web.yaml
  alpha_factory_v1/data/historic_scenarios/2001_genome.yaml
  alpha_factory_v1/data/historic_scenarios/2008_mobile.yaml
  alpha_factory_v1/data/historic_scenarios/2012_dl.yaml
  alpha_factory_v1/data/historic_scenarios/2020_mrna.yaml
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/simulator.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/api_server.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  src/replay.ts
  src/taxonomy.ts
  tests/conftest.py
  tools/bin/tsc
Due: py-compile

fix: use local insight demo styles
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/style.bundle.css
  docs/alpha_agi_insight_v1/index.html
Due: none

ci: reclaim node_modules before pytest
  .github/workflows/ci.yml
Due: none

fix: stabilize tests and compatibility shims
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/core/analysis/meta_foresight.py
  alpha_factory_v1/core/archive/cron.py
  alpha_factory_v1/core/replay.ts
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/core/simulation/replay.py
  alpha_factory_v1/core/simulation/selector.py
  alpha_factory_v1/core/taxonomy.ts
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/evolve/mutate.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/simulator.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/pareto.ts
  alpha_factory_v1/demos/solving_agi_governance/openai_agents_bridge.py
  tests/test_replay_ts.py
  tests/test_serializer.py
  tests/test_simulator_init.py
  tests/test_taxonomy.py
Due: py-compile

fix: harden replay serialization and orchestration
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/replay.ts
  alpha_factory_v1/core/scheduler/__init__.py
  alpha_factory_v1/core/self_edit/tools.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/simulation/replay.py
  alpha_factory_v1/core/simulation/selector.py
  alpha_factory_v1/demos/aiga_meta_evolution/openai_agents_bridge.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/simulator.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/state/serializer.js
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  alpha_factory_v1/demos/solving_agi_governance/openai_agents_bridge.py
  alpha_factory_v1/utils/config_common.py
  tests/conftest.py
  tests/test_replay_ts.py
  tests/test_simulator_init.py
  tests/test_web_app.py
Due: py-compile, eslint-insight-browser

fix: reduce pytest disk usage and refresh insight docs
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/assets/service-worker.js
Due: none

fix: stabilize demo tooling and tests
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/resources/dummy_agent.whl.sig
  tests/test_orchestrator_backoff.py
  tests/test_orchestrator_lifecycle.py
  tests/test_orchestrator_rest.py
  tests/test_patcher_cli.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_self_healing_patcher.py
  tests/test_self_improver.py
  tests/test_selfheal_entrypoint.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
  tests/test_wheel_signature.py
Due: py-compile

fix: stabilize demos and test utilities
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/orchestrator_base.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/backend/services/api_server_service.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/conftest.py
Due: py-compile

fix: stabilize self-healing flows and test harness
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/services/api_server_service.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/safety_agent.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/resources/dummy_agent.whl.sig
  tests/test_safety_guardian_property.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
Due: py-compile

fix: stabilize test helpers and patching
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/resources/dummy_agent.whl.sig
  tests/test_safety_guardian_property.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
Due: py-compile

fix: improve ci disk cleanup and docs assets
  .github/workflows/ci.yml
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
Due: none

fix: stabilize demo helpers and messaging
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/common/utils/logging.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/index.html
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_property.py
  tests/test_self_healing_patcher.py
  tests/test_self_improver.py
  tests/test_selfheal_entrypoint.py
  tests/test_start_aiga_demo.py
  tests/test_verify_wheel.py
  tests/test_web_app.py
  tests/test_wheel_signature.py
  tests/test_world_model_safety.py
Due: py-compile

fix: harden patch handling and test stability
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/__init__.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/utils/config.py
  alpha_factory_v1/core/utils/patch_guard.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  alpha_factory_v1/utils/config_common.py
  tests/test_orchestrator_backoff.py
  tests/test_safety_guardian_fuzz.py
  tests/test_safety_guardian_property.py
  tests/test_web_app.py
Due: py-compile

fix: close IndexedDB connections after transactions
  src/memeplex.ts
Due: none

fix: improve demo resilience and agent handling
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/archive/solution_archive.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/api_server.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  tests/conftest.py
  tests/test_safety_guardian_property.py
Due: py-compile

fix: improve demo/test resilience
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agent_runner.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/backend/demo_orchestrator.py
  alpha_factory_v1/backend/orchestrator_utils.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/agents/self_improver_agent.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/api_server.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/conftest.py
  tests/test_safety_guardian_property.py
  tests/test_web_app.py
Due: py-compile

fix: improve patch application and test stability
  alpha_factory_v1/backend/__init__.py
  alpha_factory_v1/backend/agent_manager.py
  alpha_factory_v1/backend/agents/plugins.py
  alpha_factory_v1/backend/api_server.py
  alpha_factory_v1/common/utils/config.py
  alpha_factory_v1/common/utils/messaging.py
  alpha_factory_v1/core/interface/web_app.py
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/self_evolution/self_improver.py
  alpha_factory_v1/core/utils/config.py
  alpha_factory_v1/core/utils/patch_apply.py
  alpha_factory_v1/demos/aiga_meta_evolution/start_aiga_demo.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/src/agents/safety_agent.py
  alpha_factory_v1/demos/alpha_asi_world_model/alpha_asi_world_model_demo.py
  alpha_factory_v1/demos/alpha_asi_world_model/deploy_alpha_asi_world_model_demo.sh
  alpha_factory_v1/demos/cross_industry_alpha_factory/deploy_alpha_factory_cross_industry_demo.sh
  alpha_factory_v1/demos/muzero_planning/run_muzero_demo.sh
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/patcher_core.py
  alpha_factory_v1/utils/config_common.py
  docs/alpha_agi_insight_v1/service-worker.js
  tests/test_orchestrator_backoff.py
  tests/test_web_app.py
Due: py-compile
