Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

update-actions:
  name: Update workflow action versions
  entry: python tools/update_actions.py
  language: system
  pass_filenames: false

py-compile:
  name: Validate Python syntax with py_compile
  entry: python -m py_compile
  language: python

eslint-insight-browser:
  name: Lint Insight Browser with ESLint
  entry: scripts/run_eslint.sh
  language: system

feat(repo-healer): add deterministic tier-1 patch generation and seeded benchmark
  .github/workflows/repo-healer.yml
  alpha_factory_v1/README.md
  alpha_factory_v1/backend/agents/README.md
  alpha_factory_v1/demos/OVERVIEW.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/benchmark.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/candidate_generation.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_candidate_generation.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: update-actions, py-compile

feat: harden repo-healer v1 repo-targeted triage
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  docs/demos/self_healing_repo.md
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

fix: align self-heal patch path with active repo
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
Due: py-compile

fix: align selfheal patch/apply repo path
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  docs/demos/self_healing_repo.md
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

fix: skip patching on green and use active python
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
  tests/test_selfheal_entrypoint_offline.py
Due: py-compile

fix: skip no-op selfheal patching and use active python
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  docs/demos/self_healing_repo.md
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
  tests/test_selfheal_entrypoint_offline.py
Due: py-compile

fix: classify workflow lint as draft-only triage
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

fix: classify workflow lint failures as draft-only
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  docs/demos/self_healing_repo.md
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
  tests/test_selfheal_entrypoint_offline.py
Due: py-compile

fix: align mypy replay commands with CI gate
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

ci: tighten health scope and fix mkdocs/ci docs consistency
  .github/workflows/ci-health.yml
  .github/workflows/ci.yml
  README.md
  docs/CI_WORKFLOW.md
  mkdocs.yml
  scripts/check_ci_status.py
Due: update-actions, py-compile

feat: align repo-healer validators to canonical ci
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  docs/demos/self_healing_repo.md
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

feat: add bounded rule-based candidate generation for repo-healer
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/candidate_generation.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/cli.py
  tests/repo_healer_v1/test_candidate_generation.py
Due: py-compile

feat: harden repo-healer seeded benchmark output
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/benchmark.py
  docs/demos/self_healing_repo.md
  tests/repo_healer_v1/test_benchmark.py
Due: py-compile

[alpha_factory] Ship Repo-Healer v1 bounded repair benchmark
  .github/workflows/repo-healer.yml
  alpha_factory_v1/README.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/benchmark.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/candidate_generation.py
  tests/repo_healer_v1/test_benchmark.py
  tests/repo_healer_v1/test_candidate_generation.py
Due: update-actions, py-compile

[alpha_factory] Ship Repo-Healer v1 bounded repair benchmark
  .github/workflows/repo-healer.yml
Due: update-actions

feat: harden Repo-Healer CI validator alignment
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/SCRATCHPAD.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  tests/repo_healer_v1/test_validators.py
Due: py-compile

[alpha_factory] Harden Repo-Healer validator alignment with canonical PR CI smoke command
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  tests/repo_healer_v1/test_validators.py
Due: py-compile

ci: clarify non-PR integration workflow surface
  .github/workflows/ci-health.yml
  .github/workflows/ci.yml
  README.md
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
Due: update-actions

docs: keep branch protection check list in sync
  CONTRIBUTING.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/SCRATCHPAD.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/benchmark.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
  tests/test_verify_branch_protection_defaults.py
Due: py-compile

fix: align ci-health policy and harden repo-healer v1
  .github/workflows/ci-health.yml
  .github/workflows/repo-healer.yml
  README.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/models.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
  scripts/check_ci_status.py
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
  tests/test_check_ci_status.py
Due: update-actions, py-compile

fix: honor explicit fork/permission support mode in triage
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

fix: align CI Health context and Repo-Healer dry-run
  .github/workflows/ci-health.yml
  .github/workflows/repo-healer.yml
Due: update-actions

fix: address workflow review feedback
  .github/workflows/ci-health.yml
  .github/workflows/repo-healer.yml
Due: update-actions

fix: tighten CI health dispatch targeting
  README.md
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
  scripts/check_ci_status.py
  tests/test_check_ci_status.py
Due: py-compile

fix: align ci-health watchdog and repo-healer defaults
  .github/workflows/ci-health.yml
  README.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/cli.py
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
  scripts/check_ci_status.py
  tests/repo_healer_v1/test_cli_safety.py
  tests/test_check_ci_status.py
Due: update-actions, py-compile

fix: restore ci-health rerun path for repo-healer
  .github/workflows/ci-health.yml
  README.md
  docs/CI_WORKFLOW.md
Due: update-actions

fix: harden repo-healer triage and workflow-run ingestion
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/triage.py
  tests/repo_healer_v1/test_ci_bundle.py
  tests/repo_healer_v1/test_triage_engine.py
Due: py-compile

fix: keep full-suite broader validation for smoke class
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/validators.py
  tests/repo_healer_v1/test_validators.py
Due: py-compile

fix: make ci-health dispatch event-aware
  .github/workflows/ci-health.yml
  README.md
  docs/CI_WORKFLOW.md
Due: update-actions

fix: harden repo-healer failure typing and benchmark statuses
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/benchmark.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_benchmark.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: py-compile

fix: classify repo-healer early-return failure bundles
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: py-compile

fix: preserve draft-only failure class mapping
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  tests/repo_healer_v1/test_ci_bundle.py
Due: py-compile

fix: avoid workflow_run redispatch fanout
  docs/CI_WORKFLOW.md
  scripts/check_ci_status.py
  tests/test_check_ci_status.py
Due: py-compile

ci: stabilize main integration surface and harden healer bundle
  .github/workflows/ci.yml
  README.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/models.py
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
Due: update-actions, py-compile

ci: keep branch-protection job runnable on main pushes
  .github/workflows/ci.yml
Due: update-actions

ci: keep branch-protection guardrails runnable on main
  .github/workflows/ci.yml
  README.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/models.py
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
Due: update-actions, py-compile

ci: fix matrix gating for main-push lint and tests
  .github/workflows/ci.yml
Due: update-actions

ci: use dynamic matrix for main-push integration lanes
  .github/workflows/ci.yml
  README.md
  alpha_factory_v1/demos/self_healing_repo/README.md
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/ci_bundle.py
  alpha_factory_v1/demos/self_healing_repo/repo_healer_v1/models.py
  docs/CI_ENFORCEMENT.md
  docs/CI_WORKFLOW.md
Due: update-actions, py-compile

ci: scope heavy integration jobs to release contexts
  .github/workflows/ci.yml
  docs/CI_WORKFLOW.md
Due: update-actions

ci: move tier-2 integration jobs off push-to-main
  .github/workflows/ci.yml
Due: update-actions

Path conditions:
  update-actions: any of: ^\.github/workflows/
  py-compile: any of: \.py$
  eslint-insight-browser: any of: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/ and \.(js|mjs|cjs)$ and not ((^docs/)|
(^dist/)|
(^alpha_factory_v1/core/interface/web_client/dist/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
(build\.js$)|
(tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
(^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
(^alpha_factory_v1/ui/static/)|
(bundle\.esm\.min\.js$)|(insight\.bundle\.js$)
)
