Repository MontrealAI/AGI-Alpha-Agent-v0: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-actions, py-compile, eslint-insight-browser

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 2a1c67e0b2f81df602ec1f6e7aeb030b9709dc7c
    hooks:
      - id: black
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 1bd02b3569e3ac5cc66552b1336a96a8880d1bae
    hooks:
      - id: ruff
        exclude: alpha_factory_v1/backend/agent_factory.py
      - id: ruff-format
        exclude: alpha_factory_v1/backend/agent_factory.py
  - repo: https://github.com/pycqa/flake8
    rev: 7d37d9032d0d161634be4554273c30efd4dea0b3
    hooks:
      - id: flake8
  - repo: https://github.com/semgrep/semgrep
    rev: 2bbd0a55b3655b26991c936b92e0c0f6d6f4fa94
    hooks:
      - id: semgrep
        args: ["--config", "semgrep.yml"]
        types: [python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: d0a0a0d7aa4e87ed0c7a31b5fcee1c20697718ff
    hooks:
      - id: shellcheck
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: local
    hooks:
      - id: proto-verify
        name: Verify protobuf files are up to date
        entry: make proto-verify
        language: system
        pass_filenames: false
      - id: verify-env-docs
        name: Verify environment docs and runbook checklist
        entry: python tools/check_env_table.py
        language: python
        pass_filenames: false
      - id: dp-scrub
        name: Detect private text in commit
        entry: python scripts/dp_scrubber.py
        language: python
        pass_filenames: false
      - id: env-check
        name: Verify required Python packages are installed
        entry: scripts/env_check.sh
        language: system
        pass_filenames: false
      - id: verify-disclaimer-helper
        name: Ensure scripts import disclaimer helper
        entry: python scripts/verify_disclaimer_helper.py
        language: python
        pass_filenames: false
      - id: verify-gallery-assets
        name: Verify demo gallery preview assets exist
        entry: python scripts/verify_gallery_assets.py
        language: python
        pass_filenames: false
      - id: verify-html-disclaimer
        name: Verify HTML pages reference the disclaimer snippet
        entry: python scripts/verify_html_disclaimer.py
        language: python
        pass_filenames: false
      - id: no-binary-diff
        name: Block binary diffs
        entry: python scripts/check_no_binary_diff.py
        language: python
        pass_filenames: false
      - id: update-actions
        name: Update workflow action versions
        entry: python tools/update_actions.py
        language: system
        files: ^\.github/workflows/
        pass_filenames: false
      - id: py-compile
        name: Validate Python syntax with py_compile
        entry: python -m py_compile
        language: python
        types: [python]
      - id: eslint-insight-browser
        name: Lint Insight Browser with ESLint
        entry: scripts/run_eslint.sh
        language: system
        files: ^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/
        types: [javascript]
        exclude: |
          (^docs/)|
          (^dist/)|
          (^alpha_factory_v1/core/interface/web_client/dist/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/(dist|lib)/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/wasm_llm/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/)|
          (build\.js$)|
          (tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/)|
          (^alpha_factory_v1/demos/alpha_agi_insight_v1/src/interface/web_client/dist/)|
          (^alpha_factory_v1/ui/static/)|
          (bundle\.esm\.min\.js$)|(insight\.bundle\.js$)

fix: restore insight docs preview and service worker
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: keep bootstrap service-worker hash gate
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: py-compile

fix: preserve bootstrap SW hash gate in insight docs
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: py-compile

fix: evaluate selfheal gradio skip flag at runtime
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
Due: py-compile

fix: evaluate selfheal gradio skip flag at runtime
  alpha_factory_v1/demos/self_healing_repo/agent_selfheal_entrypoint.py
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: py-compile

fix: harden CI health token handling
  .github/workflows/ci-health.yml
  scripts/verify_branch_protection.py
Due: update-actions, py-compile

fix: pass explicit token to CI health checker
  .github/workflows/ci-health.yml
Due: update-actions

fix: restore missing alpha_agi_insight_v1 preview asset
  docs/alpha_agi_insight_v1/assets/preview.svg
Due: none

fix: restore insight docs preview and service worker registration
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: keep SW integrity flow while satisfying docs checks
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: restore insight docs preview and service worker wiring
  docs/alpha_agi_insight_v1/assets/preview.svg
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: keep SW integrity gate while satisfying docs checks
  docs/alpha_agi_insight_v1/index.html
Due: none

fix: defer service worker registration to bootstrap integrity check
  docs/alpha_agi_insight_v1/index.html
Due: none

Archive the original Alpha Agent baseline before completion work
  .github/workflows/preserve-original-baseline.yml
  preservation/baseline-2026-09-24/RELEASE_NOTES.md
  preservation/baseline-2026-09-24/RESTORE.md
  preservation/baseline-2026-09-24/VERIFY.py
  preservation/baseline-2026-09-24/baseline.json
  preservation/baseline-2026-09-24/build_checkpoint.py
Due: update-actions, py-compile

Resume archival draft by ID after verifying downloaded assets
  .github/workflows/preserve-original-baseline.yml
  preservation/baseline-2026-09-24/resume_draft.py
Due: update-actions, py-compile

Make installed CLI self-contained and run acceptance scripts as modules
  .github/workflows/agent-release.yml
  .github/workflows/build-insight.yml
  alpha_factory_v1/utils/DISCLAIMER_SNIPPET.md
  alpha_factory_v1/utils/disclaimer.py
  scripts/package_agent_release.py
Due: update-actions, py-compile

Fix hosted acceptance: Python 3.11 lock, real model code, browser compatibility and persistent container
  .dockerignore
  .github/workflows/agent-release.yml
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/core/interface/web_client/src/D3LineageTree.tsx
  alpha_factory_v1/core/interface/web_client/src/RationaleModal.tsx
  alpha_factory_v1/core/interface/web_client/src/main.tsx
  alpha_factory_v1/core/interface/web_client/src/styles.css
  alpha_factory_v1/core/interface/web_client/tests/dashboard.spec.ts
  alpha_factory_v1/core/interface/web_client/workbox.config.cjs
  alpha_factory_v1/core/runtime/container.py
  alpha_factory_v1/core/runtime/provider.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/llm.ts
  docs/agent/OPERATIONS.md
  docs/agent/VALIDATION.md
  pyproject.toml
  requirements-agent.lock
  scripts/check_agent_preservation.py
  scripts/package_agent_release.py
  tests/test_gpu_detection.py
  tests/test_retry_property.py
Due: update-actions, py-compile

Preserve historical docs in the second Insight build pipeline
  .github/workflows/build-insight-bundle.yml
Due: update-actions

Complete acceptance repairs: preserve bundles, correct final SRI, isolate process limits and audit browser dependencies
  .github/workflows/agent-release.yml
  alpha_factory_v1/core/interface/web_client/package-lock.json
  alpha_factory_v1/core/interface/web_client/package.json
  alpha_factory_v1/core/interface/web_client/vite.config.ts
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  docs/agent/OPERATIONS.md
  docs/agent/VALIDATION.md
  pyproject.toml
  scripts/run_local_tests.py
  tests/test_distribution_zip.py
  tests/test_orchestrator.py
Due: update-actions, py-compile, eslint-insight-browser

Preserve review input and reject stale mission responses in the operator console
  alpha_factory_v1/core/runtime/web/app.js
  scripts/validate_agent_ui.py
Due: py-compile

fix(tests): preserve shared browser assets across nested pytest sessions
  scripts/run_local_tests.py
  tests/conftest.py
  tests/test_session_cleanup.py
Due: py-compile

fix(release): preserve Docker compatibility and verify real offline Insight assets
  .gitattributes
  .github/workflows/agent-release.yml
  .github/workflows/build-insight-bundle.yml
  .github/workflows/build-insight.yml
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/bootstrap.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package-lock.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/sw.js
  docs/agent/OPERATIONS.md
  docs/agent/VALIDATION.md
  docs/alpha_agi_insight_v1/bootstrap.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/insight.bundle.js
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
  scripts/publish_agent_release.py
  scripts/validate_insight_offline.py
  tests/test_cache_version.py
  tests/test_pwa_offline.py
  tests/test_release_publication.py
  tests/test_wasm_base64.py
  tests/test_workbox_integrity.py
Due: update-actions, py-compile, eslint-insight-browser

fix(preservation): retain the Insight builder executable mode
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
Due: eslint-insight-browser

fix: enforce bounded transfer reads and reproducible browser validation
  alpha_factory_v1/core/orchestrator.py
  alpha_factory_v1/core/tools/transfer_test.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
  scripts/validate_insight_offline.py
  tests/test_orchestrator.py
  tests/test_transfer_test.py
Due: py-compile, eslint-insight-browser

fix(insight): restore sandboxed workers and complete the offline browser distribution
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/bootstrap.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build_assets.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/package.json
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/sandbox_worker_host.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/render/canvasLayer.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/sandbox.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/wasm/bridge.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/iframe_worker_cleanup.test.js
  docs/agent/VALIDATION.md
  docs/alpha_agi_insight_v1/bootstrap.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/insight.bundle.js
  docs/alpha_agi_insight_v1/sandbox_worker_host.js
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
  docs/alpha_agi_insight_v1/worker/arenaWorker.js
  docs/alpha_agi_insight_v1/worker/evolver.js
  docs/alpha_agi_insight_v1/worker/umapWorker.js
  scripts/validate_insight_offline.py
  tests/test_distribution_zip.py
Due: py-compile, eslint-insight-browser

fix: complete offline sandbox loading and repair the legacy container lifecycle
  .dockerignore
  alpha_factory_v1/Dockerfile
  alpha_factory_v1/backend/rpc_server.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/sandbox.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/iframe_worker_cleanup.test.js
  alpha_factory_v1/docker-compose.override.yml
  alpha_factory_v1/docker-compose.yml
  alpha_factory_v1/entrypoint.sh
  alpha_factory_v1/ui/app.py
  docs/agent/OPERATIONS.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/insight.bundle.js
  docs/alpha_agi_insight_v1/sandbox_worker_host.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
  tests/test_distribution_zip.py
  tests/test_docker_health.py
Due: py-compile, eslint-insight-browser

fix(insight): unify manual builds and preserve the historical compiler
  .github/workflows/agent-release.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/common.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build/manual_build_legacy.py.txt
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/index.html
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/manual_build.py
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/src/utils/sandbox.ts
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/tests/iframe_worker_cleanup.test.js
  docs/agent/OPERATIONS.md
  docs/agent/VALIDATION.md
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/insight.bundle.js
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
  tests/test_manual_build_missing_tsc.py
Due: update-actions, py-compile, eslint-insight-browser

fix(container): keep private environment files and local caches out of demo images
  .dockerignore
Due: none

fix(container): retain the dashboard telemetry import and gate legacy startup early
  .github/workflows/agent-release.yml
  alpha_factory_v1/Dockerfile
Due: update-actions

fix(insight): validate the deployed docs cache and avoid redundant WASM prerequisites
  .github/workflows/agent-release.yml
  alpha_factory_v1/demos/alpha_agi_insight_v1/insight_browser_v1/build.js
  docs/alpha_agi_insight_v1/index.html
  docs/alpha_agi_insight_v1/service-worker.js
  docs/alpha_agi_insight_v1/sw.js
Due: update-actions, eslint-insight-browser

Normalize mission UUIDs before idempotency lookup
  alpha_factory_v1/core/runtime/store.py
  docs/agent/VALIDATION.md
  tests/runtime/test_missions.py
Due: py-compile

Bind payment commits to the verified configuration
  alpha_factory_v1/core/runtime/chain.py
  tests/runtime/test_economics.py
Due: py-compile

Check Docker availability before selecting the code sandbox
  alpha_factory_v1/core/utils/secure_run.py
  tests/test_secure_run.py
Due: py-compile

Enforce execution and invoice policy across configuration changes
  alpha_factory_v1/core/runtime/chain.py
  alpha_factory_v1/core/runtime/engine.py
  alpha_factory_v1/core/runtime/store.py
  docs/agent/OPERATIONS.md
  tests/runtime/test_economics.py
  tests/runtime/test_missions.py
Due: py-compile

Repair and validate all shared legacy Compose build contexts
  .github/workflows/agent-release.yml
  alpha_factory_v1/demos/aiga_meta_evolution/docker-compose.aiga.yml
  alpha_factory_v1/demos/era_of_experience/docker-compose.experience.yml
  alpha_factory_v1/demos/macro_sentinel/docker-compose.macro.yml
  alpha_factory_v1/demos/muzero_planning/docker-compose.muzero.yml
  alpha_factory_v1/demos/self_healing_repo/docker-compose.selfheal.yml
  docs/agent/OPERATIONS.md
  scripts/validate_legacy_compose.py
Due: update-actions, py-compile

Validate Compose models with isolated empty configuration fixtures
  scripts/validate_legacy_compose.py
Due: py-compile

fix: initialize empty operator mounts and validate development UI startup
  .github/workflows/agent-release.yml
  AGENTS.md
  README.md
  alpha_factory_v1/core/runtime/container.py
  alpha_factory_v1/core/runtime/store.py
  alpha_factory_v1/docker-compose.override.yml
  alpha_factory_v1/scripts/preflight.py
  docs/agent/OPERATIONS.md
  docs/quickstart.md
  scripts/validate_legacy_compose.py
  tests/runtime/test_missions.py
Due: update-actions, py-compile
